.capDevTotals {
    margin: auto;
}

.totalsCap {
    color: #585858;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: -5;
}

.totalCapDev {
    height: 80px;
    max-width: 240px;
}

.participants-container {
    height: 390px;
}

.trainees-container {
    height: 390px;
}

.trainingTerms-container {
    height: 185px;
}

.capDevTitles {
    margin-bottom: 0.1rem !important;
}

.tparticipants {
    margin-bottom:10px;
}

.capDev-charts {
  height: 450px;
}
