.map-container {
    padding: 0.5em;
    height: 390px;
}
  
.donut-container {
    height: 390px;
}
  
.maturity-container {
    height: 330px;
}
  
.cross-container {
    height: 330px;
}

.sdg-container {
    height: 135px;
}

.list-content {
    height: 400px;
}

.sdglogo {
    height: 40px;
    width: 306px;
    float: right;
    margin-top: -9px;
    margin-right: -45px;
}

.sdg-title {
    font-size: 10px;
    margin-top: -10px;
    color: #585858;
}

.contributingPartners-container {
    height: 100px;
}

.topPartners-container {
    height: 222px;
}