.oicr-charts {
    height: 1700px;
}

.innovations-charts {
    height: 1150px;
}

.milestones-charts {
    height: 1100px;
}

.geoScope-charts {
    height:2200px;
}

.partners-charts {
  height: 1955px;
}

.partnersFilter-charts {
  height: 1455px;
}

.slo-charts {
  height: 1400px;
}

.srf-charts {
  height: 1950px;
}

.innovations-V2-charts {
  height: 1800px;
}

.policies-V2-charts{
  height: 1200px;
}

.MELIA-charts {
  height: 300px;
}

.genebank-charts {
  height: 2000px;
}

.publications-charts {
  height: 1400px;
}

.altmetric-charts {
  height:1100px;
}

.partnerships-charts {
  height: 1450px;
}
