.oicr-charts {
    height: 1326px;
}

.innovations-charts {
    height: 1150px;
}

.milestones-charts {
    height: 900px;
}

.geoScope-charts {
    height:1900px;
}

.partners-charts {
  height: 1955px;
}
