* {
    scroll-behavior: smooth;
}

iframe {
    display: block;
    margin: 0 auto;
    /* margin: 0 auto 0 12%; */
}

.clearFilterBtn {
    width: 80px;
    padding: 2px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    background: #FFA600;
    font-size: 10px;
}

.tableWrapper {
    width: 100%;
    /* height: 5%;
    overflow-y: scroll; */
}

table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    background-color: white;
}

td, th {
    border: 2px solid #dddddd;
    text-align: justify;
    padding: 8px;
}

.cellTerm {
    width: 20%;
}

.tableCaption {
    width: 100%;
    caption-side: top;
    font-size: 14px;
    font-weight: bold;
    color: #00a0b0;
}