.indicator-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.chart-container{ 
    background-color: #f5f5f5;
}

.slo-contribution { 
    height: 260px;
    width: 340px;
}

.oicr-contribution { 
    height: 260px;
    width: 340px;
}

.milestones-contribution { 
    height: 260px;
    width: 340px;
}

.total-title { 
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
}

.numbers {
    height:90px;
}