.indicator-description {
    font-size: 12px;
    text-align: justify;
}

.chart-container{ 
    background-color: #f5f5f5;
}

.slo-contribution { 
    height: 260px;
}

.oicr-contribution { 
    height: 260px;
}

.milestones-contribution { 
    height: 260px;
}

.numbers {
    height:340px;
}

.top-line {
    width: 100%;
    border-top: #373a3b solid 1px;
    margin-bottom: 5px;
}