.istage-container {
  height: 230px;
}

.itype-container {
  height: 390px;
}

.imap-container {
  height: 390px;
}

.ilist-container {
  height: 400px;
}

.noData { 
  font-size: 1.05em;
  font-family: 'Montserrat', sans-serif;
  color: #716f6f;
  padding-top: 30%;
}