@media (min-width: 1513px){
    .expanded-menu {
            max-width: 220px;
            position: fixed;
            margin-left: 2%;
    }
}

@media (max-width: 1320px){
  nav.main-menu ul li {
      font-size: 0.56rem !important;
  }

  nav.main-menu ul li a {
      padding: 7px 10px !important;
      color: #8a8a8a;
  }

  svg {
      width: 15px !important;
      height: 15px !important;
      margin-left: 2px !important;
  }

  .mr-1 {
    margin-right: 0!important;
  }

  .sectionAction-home {
    border-radius: 0;
  }

  .sectionAction-glossary {
    border-radius: 0;
  }

}

.menu-section, .menu-title {
    font-weight: 600;
}
.construction {
    float: right;
    position: relative;
    vertical-align: middle;
}

svg {
    width: 25px;
    height: 25px;
    fill: #00a0b0;
    vertical-align: text-top;
    display: inline-block;
    margin-left: 5px;
}

.sectionAction-home {
    border-radius: 5px 5px 0 0;
}

.sectionAction-glossary {
    border-radius: 0 0 5px 5px;
}

/*.svg-interactive{
    fill: black !important;
    width: 80%;
    height: auto;
    margin: 2% 10%;
}*/


li.active svg {
    fill: #ffffff;
}
