{% import "./macros/forms.twig" as forms %}
<div class="filters">
  <!-- Year -->
  <div class="filter-component fyear">
    <p id="filtertitley" class="filter-title years">{{ yearSelected|default('Years') }}</p>
    <ul class="filter-items items-years">
      {% for year in years %}
        <li> {{ forms.checkmark('years', year.year, year.name, (year.year == yearSelected) ) }} </li>
      {% endfor %}
    </ul>
  </div>
  <!-- CRPs -->
  <div class="filter-component fprogram">
    <p id="filtertitlec" class="filter-title portfolio">{{ entitySelected|default('Research Portfolio') }}</p>
    <ul class="filter-items items-programs">
      {% for crp in crps %}
        <li> <small> {{ forms.checkmark('crps', crp.acronym , crp.name, (crp.acronym == entitySelected)) }} </small>  </li>
      {% endfor %}
    </ul>
  </div>
</div>
