<div class="filters">
  <!-- Year -->
  <div class="filter-component fyear">
    <p id="filtertitley" class="filter-title years">Years</p>
    <ul class="filter-items items-years">
      <li> {{ forms.checkmark('years', 'All Years' , 'All Years', false) }} </li>
      {% for year in years %}
        <li> {{ forms.checkmark('years', year.year, year.year, year.checked) }} </li>
      {% endfor %}
    </ul>
  </div>
  <!-- CRPs -->
  <div class="filter-component fprogram">
    <p id="filtertitlec" class="filter-title portfolio">Research Portfolio</p>
    <ul class="filter-items items-programs">
      <li> {{ forms.checkmark('crps', 'All' , 'All', true) }} </li>
      {% for crp in crps %}
        <li> <small> {{ forms.checkmark('crps', crp.acronym , crp.name) }} </small>  </li>
      {% endfor %}
    </ul>
  </div>
</div>
