

    {% for element in pageParams.customJS %}
      <script type="text/javascript" src="{{ element }}"></script>
    {% endfor %}

    <script type="text/javascript" src="./js/global.js?190723" charset="utf-8"></script>
  </body>
</html>
