            <br/><div class="data-info">DATA HAS BEEN EXTRACTED DIRECTLY FROM CGIAR MANAGEMENT INFORMATION SYSTEMS</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Other Libraries -->
    <script type="text/javascript" src="./js/libs/jquery/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/libs/bootstrap/popper.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/libs/bootstrap/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/libs/URL/url.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/libs/tableau/tableau-2.2.2.min.js" charset="utf-8"></script>

    <!-- Tableau custom functions-->
    <script type="text/javascript" src="./js/tableauFunctions.js?190926" charset="utf-8"></script>

    <!-- Global Javascript -->
    <script type="text/javascript" src="./js/global.js?190926" charset="utf-8"></script>

    <!-- Custom Javascript -->
    {% for element in pageParams.customJS %}
      <script type="text/javascript" src="{{ element }}?190926"></script>
    {% endfor %}

    <!-- Embeding Javascript -->
    {% if embed %}
      <script src="./js/embedMode.js" charset="utf-8"></script>
    {% endif %}
  </body>
</html>
