            <br/><div class="data-info">
              {# <p class="contact-info">To report bugs or suggest improvements please click <a href="https://sites.google.com/cgxchange.org/cgiar-pbm-resources/issues-dashboard/submit-a-new-issue" target="_blank">here</a>.</p> #}           
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Other Libraries -->
    <script type="text/javascript" src="./js/libs/jquery/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/libs/bootstrap/popper.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/libs/bootstrap/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/libs/URL/url.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/libs/tableau/tableau-2.2.2.min.js" charset="utf-8"></script>

    <!-- Tableau custom functions-->
    <script type="text/javascript" src="./js/tableauFunctions.js?20200731b" charset="utf-8"></script>

    <!-- Global Javascript -->
    <script type="text/javascript" src="./js/global.js?20200731b" charset="utf-8"></script>

    <!-- Custom Javascript -->
    {% for element in pageParams.customJS %}
      <script type="text/javascript" src="{{ element }}?20200731b"></script>
    {% endfor %}

    <!-- Embeding Javascript -->
    {% if embed %}
      <script src="./js/embedMode.js?20200731b" charset="utf-8"></script>
    {% endif %}
  </body>
</html>
