
    <!-- Custom Javascript -->
    {% for element in pageParams.customJS %}
      <script type="text/javascript" src="{{ element }}"></script>
    {% endfor %}

    <!-- Other Libraries -->
    <script type="text/javascript" src="./js/libs/URL/url.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/tableauFunctions.js" charset="utf-8"></script>

    <!-- Global Javascript -->
    <script type="text/javascript" src="./js/global.js?190723" charset="utf-8"></script>

    <!-- Embeding Javascript -->
    {% if embed %}
      <script src="./js/embedMode.js" charset="utf-8"></script>
    {% endif %}
  </body>
</html>
