          {# interactive svg #}
          {# <div id="#svg">    #}


          {# </div> #}


        </div>
          <svg class="svg-interactive" id="svg-interactive" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
            <style type="text/css">
                .st0{clip-path:url(#SVGID_2_);fill:#C1383D;}
                .st1{clip-path:url(#SVGID_4_);fill:url(#SVGID_5_);}
                .st2{clip-path:url(#SVGID_7_);fill:#C1383D;}
                .st3{clip-path:url(#SVGID_7_);fill:#F7931E;}
                .st4{clip-path:url(#SVGID_7_);fill:#FFFFFF;}
                .st5{clip-path:url(#SVGID_7_);fill:none;stroke:#FFFFFF;stroke-width:3.403;stroke-miterlimit:10;}
                .st6{clip-path:url(#SVGID_9_);fill:#FFFFFF;}
                .st7{clip-path:url(#SVGID_11_);}
                .st8{font-family:'ProximaNova-Bold';}
                .st9{font-size:44px;}
                .st10{letter-spacing:-1.9;}
                .st11{opacity:0.3;clip-path:url(#SVGID_11_);}
                .st12{clip-path:url(#SVGID_13_);}
                .st13{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
                .st14{fill:#FFFFFF;}
                .st15{font-size:28px;}
                .st16{font-family:'ProximaNova-Black';}
                .st17{letter-spacing:1;}
                .st18{opacity:0.65;clip-path:url(#SVGID_15_);}
                .st19{clip-path:url(#SVGID_17_);fill:#FFFFFF;}
                .st20{clip-path:url(#SVGID_15_);fill:none;stroke:#293247;stroke-width:1.016;stroke-miterlimit:10;}
                .st21{font-family:'ProximaNova-Thin';}
                .st22{font-size:20.4153px;}
                .st23{opacity:0.65;clip-path:url(#SVGID_19_);}
                .st24{clip-path:url(#SVGID_21_);fill:#FFFFFF;}
                .st25{clip-path:url(#SVGID_19_);fill:none;stroke:#293247;stroke-width:1.016;stroke-miterlimit:10;}
                .st26{clip-path:url(#SVGID_23_);fill:#FDE4BC;}
                .st27{clip-path:url(#SVGID_23_);fill:none;stroke:#293247;stroke-miterlimit:10;}
                .st28{clip-path:url(#SVGID_23_);fill:#161613;}
                .st29{clip-path:url(#SVGID_23_);fill:none;stroke:#181815;stroke-width:0.396;stroke-miterlimit:10;}
                .st30{clip-path:url(#SVGID_25_);fill:none;stroke:#181815;stroke-width:0.396;stroke-miterlimit:10;}
                .st31{clip-path:url(#SVGID_27_);fill:#EDD338;}
                .st32{clip-path:url(#SVGID_27_);fill:#444C9F;}
                .st33{clip-path:url(#SVGID_27_);fill:#84BBEA;}
                .st34{clip-path:url(#SVGID_27_);fill:#B1CC36;}
                .st35{clip-path:url(#SVGID_27_);fill:#831377;}
                .st36{clip-path:url(#SVGID_27_);fill:#291D5E;}
                .st37{clip-path:url(#SVGID_27_);fill:#D69328;}
                .st38{clip-path:url(#SVGID_27_);fill:#C4312D;}
                .st39{opacity:0.65;clip-path:url(#SVGID_27_);}
                .st40{clip-path:url(#SVGID_29_);fill:#FFFFFF;}
                .st41{clip-path:url(#SVGID_27_);fill:none;stroke:#293247;stroke-width:1.418;stroke-miterlimit:10;}
                .st42{font-size:25.5191px;}
                .st43{opacity:0.2;clip-path:url(#SVGID_31_);}
                .st44{clip-path:url(#SVGID_33_);fill:#FFFFFF;}
                .st45{clip-path:url(#SVGID_31_);fill:none;stroke:#293247;stroke-width:2;stroke-miterlimit:10;}
                .st46{opacity:0.65;clip-path:url(#SVGID_31_);}
                .st47{clip-path:url(#SVGID_35_);fill:#FFFFFF;}
                .st48{clip-path:url(#SVGID_31_);fill:none;stroke:#FBD28E;stroke-width:0.555;stroke-miterlimit:10;}
                .st49{font-family:'ProximaNova-Semibold';}
                .st50{font-size:12.7596px;}
                .st51{font-size:29.7723px;}
                .st52{opacity:0.65;clip-path:url(#SVGID_37_);}
                .st53{clip-path:url(#SVGID_39_);fill:#FFFFFF;}
                .st54{clip-path:url(#SVGID_37_);fill:none;stroke:#FBD28E;stroke-width:0.555;stroke-miterlimit:10;}
                .st55{clip-path:url(#SVGID_41_);fill:#FBBB54;}
                .st56{clip-path:url(#SVGID_41_);fill:none;stroke:#FFFFFF;stroke-width:0.555;stroke-miterlimit:10;}
                .st57{clip-path:url(#SVGID_43_);fill:#FBBB54;}
                .st58{clip-path:url(#SVGID_43_);fill:none;stroke:#FFFFFF;stroke-width:0.555;stroke-miterlimit:10;}
                .st59{opacity:0.2;clip-path:url(#SVGID_45_);}
                .st60{clip-path:url(#SVGID_47_);fill:#FFFFFF;}

                    .st61{clip-path:url(#SVGID_45_);fill:none;stroke:#293247;stroke-width:1.358;stroke-miterlimit:10;stroke-dasharray:15.188,15.188;}
                .st62{clip-path:url(#SVGID_45_);fill:#FBBB54;}
                .st63{clip-path:url(#SVGID_45_);fill:none;stroke:#FFFFFF;stroke-width:0.555;stroke-miterlimit:10;}
                .st64{letter-spacing:-1;}
                .st65{clip-path:url(#SVGID_49_);fill:#FBBB54;}
                .st66{clip-path:url(#SVGID_49_);fill:none;stroke:#FFFFFF;stroke-width:0.555;stroke-miterlimit:10;}
                .st67{clip-path:url(#SVGID_51_);fill:#E34732;}
                .st68{clip-path:url(#SVGID_51_);fill:none;stroke:#FFFFFF;stroke-width:0.555;stroke-miterlimit:10;}
                .st69{opacity:0.2;clip-path:url(#SVGID_53_);}
                .st70{clip-path:url(#SVGID_55_);fill:#FFFFFF;}
                .st71{clip-path:url(#SVGID_53_);fill:none;stroke:#293247;stroke-width:2;stroke-miterlimit:10;}
                .st72{clip-path:url(#SVGID_53_);fill:#FBBB54;}
                .st73{clip-path:url(#SVGID_53_);fill:none;stroke:#FFFFFF;stroke-width:0.47;stroke-miterlimit:10;}
                .st74{clip-path:url(#SVGID_57_);fill:#E34732;}
                .st75{clip-path:url(#SVGID_57_);fill:none;stroke:#FFFFFF;stroke-width:0.555;stroke-miterlimit:10;}
                .st76{clip-path:url(#SVGID_59_);fill:#E34732;}
                .st77{clip-path:url(#SVGID_59_);fill:none;stroke:#FFFFFF;stroke-width:0.555;stroke-miterlimit:10;}
                .st78{clip-path:url(#SVGID_61_);fill:none;stroke:#000000;stroke-width:1.418;stroke-miterlimit:10;}
                .st79{opacity:0.55;clip-path:url(#SVGID_61_);}
                .st80{clip-path:url(#SVGID_63_);fill:#FFFFFF;}
                .st81{clip-path:url(#SVGID_61_);fill:none;stroke:#293247;stroke-width:1.332;stroke-miterlimit:10;}
                .st82{opacity:0.75;clip-path:url(#SVGID_65_);}
                .st83{clip-path:url(#SVGID_67_);fill:#FFFFFF;}
                .st84{clip-path:url(#SVGID_65_);fill:none;stroke:#293247;stroke-width:1.332;stroke-miterlimit:10;}
                .st85{clip-path:url(#SVGID_65_);fill:#07A1E2;}
                .st86{clip-path:url(#SVGID_65_);fill:#7A96D0;}
                .st87{clip-path:url(#SVGID_65_);fill:#73AF41;}
                .st88{clip-path:url(#SVGID_65_);fill:#CAAC2A;}
                .st89{clip-path:url(#SVGID_65_);fill:#A91D30;}
                .st90{clip-path:url(#SVGID_65_);fill:#619D40;}
                .st91{clip-path:url(#SVGID_65_);fill:#60803B;}
                .st92{clip-path:url(#SVGID_65_);fill:#E8C323;}
                .st93{clip-path:url(#SVGID_65_);fill:#C73E2B;}
                .st94{clip-path:url(#SVGID_65_);fill:#DFA830;}
                .st95{clip-path:url(#SVGID_65_);fill:#3479BB;}
                .st96{clip-path:url(#SVGID_65_);fill:#831634;}
                .st97{clip-path:url(#SVGID_65_);fill:#5CABD8;}
                .st98{clip-path:url(#SVGID_65_);fill:#D07129;}
                .st99{clip-path:url(#SVGID_65_);fill:#C3152B;}
                .st100{clip-path:url(#SVGID_65_);fill:#C00682;}
                .st101{clip-path:url(#SVGID_65_);fill:#272E68;}
                .st102{clip-path:url(#SVGID_65_);fill:#C3982A;}
                .st103{clip-path:url(#SVGID_65_);fill:#2D4D89;}
                .st104{clip-path:url(#SVGID_65_);fill:#DBAF51;}
                .st105{clip-path:url(#SVGID_65_);fill:#903F2F;}
                .st106{clip-path:url(#SVGID_65_);fill:#344961;}
                .st107{font-size:35.7408px;}
                .st108{clip-path:url(#SVGID_69_);fill:none;stroke:#C1272D;stroke-width:1.134;stroke-miterlimit:10;}
                .st109{opacity:0.35;clip-path:url(#SVGID_69_);}
                .st110{clip-path:url(#SVGID_71_);fill:none;stroke:#293247;stroke-width:1.418;stroke-miterlimit:10;}
                .st111{clip-path:url(#SVGID_71_);fill:#293247;}
                .st112{display:none;clip-path:url(#SVGID_71_);fill:none;stroke:#293247;stroke-width:1.418;stroke-miterlimit:10;}
                .st113{display:none;clip-path:url(#SVGID_71_);fill:#293247;}
                .st114{display:none;clip-path:url(#SVGID_71_);fill:none;stroke:#293247;stroke-width:2;stroke-miterlimit:10;}
                .st115{fill:none;}
                .st116{opacity:0.49;fill:#6B6B77;stroke:#6B6B77;stroke-width:1.5;stroke-miterlimit:10;}
            </style>
                <g id="Layer_1">
                    <g>
                        <defs>
                            <rect id="SVGID_1_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_2_">
                            <use xlink:href="#SVGID_1_" style="overflow:visible;" />
                        </clipPath>
                        <path class="st0" d="M519.2-496.2c-499.3,0-923.7,416.6-947.7,930.4c-24.1,513.8,327.7,927.9,827.1,927.9" />
                        <path class="st0" d="M1630.8,402.3c0-611.2-495.4-1106.6-1106.6-1106.6S-582.3-208.8-582.3,402.3S-86.9,1508.9,524.2,1508.9
                        S1630.8,1013.5,1630.8,402.3" />
                    </g>
                    <g>
                        <defs>
                            <path id="SVGID_3_" d="M0,0v1080h1399.1c145.2-187.2,231.7-422.4,231.7-677.7c0-141.9-26.7-277.6-75.4-402.3H0z" />
                        </defs>
                        <clipPath id="SVGID_4_">
                            <use xlink:href="#SVGID_3_" style="overflow:visible;" />
                        </clipPath>

                        <radialGradient id="SVGID_5_" cx="-2.182787e-11" cy="1080" r="1" gradientTransform="matrix(653.8257 -1715.594 -1715.594 -653.8257 1852595.75 707151.0625)" gradientUnits="userSpaceOnUse">
                            <stop offset="0" style="stop-color:#5A272D" />
                            <stop offset="0.1441" style="stop-color:#5A272D" />
                            <stop offset="0.6626" style="stop-color:#E34732" />
                            <stop offset="1" style="stop-color:#F3AFA6" />
                        </radialGradient>
                        <polygon class="st1" points="-359.4,943 206.8,-542.7 1990.2,137 1424,1622.7 		" />
                    </g>
                    <g>
                        <defs>
                            <rect id="SVGID_6_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_7_">
                            <use xlink:href="#SVGID_6_" style="overflow:visible;" />
                        </clipPath>
                        <path class="st2" id="red_circle_bg" d="M524.2,1508.9c611.2,0,1106.6-495.4,1106.6-1106.6S1135.4-704.2,524.2-704.2" />
                        <path class="st3" id="red_yellow_bg" d="M522.1,1085.4c377.2,0,683-305.8,683-683c0-377.2-305.8-683-683-683" />
                        <path class="st4" id="red_white_bg" d="M522.1,795.4c217,0,393-175.9,393-393c0-217-175.9-393-393-393" />
                        <line class="st5" x1="522.1" y1="-566.4" x2="522.1" y2="1371.2" />
                        <path class="st2" d="M524.2-704.2C272.8-498.5,68.9,163.7,68.9,774.8s203.8,939.8,455.3,734.1" />
                        <path class="st3" d="M522.1-280.6c-155.2,127-281,535.7-281,912.9s125.8,580.1,281,453.1" />
                        <path class="st4" d="M522.1,9.5c-89.3,73.1-161.7,308.2-161.7,525.3c0,217,72.4,333.8,161.7,260.7" />
                    </g>
                    <g>
                        <defs>
                            <path id="SVGID_8_" d="M169.2,0C106.5,240.9,68.9,512.6,68.9,774.8c0,111.7,6.8,213.9,19.5,305.2h435.8V0H169.2z" />
                        </defs>
                        <clipPath id="SVGID_9_">
                            <use xlink:href="#SVGID_8_" style="overflow:visible;" />
                        </clipPath>
                        <polygon class="st6" points="481.1,552.1 36,846.4 36,765.5 481.1,471.2 		" />
                        <path class="st6" d="M343.2,643.2c16.5-10.9,24.9,8,27.7,22.2c2.7,14.2,25.5-28.4,25.5-28.4l-10.9-21.7L343.2,643.2z" />
                        <polygon class="st6" points="147.2,697.2 157,670.5 167.4,683.8 		" />
                        <polygon class="st6" points="167.4,756.7 157.6,785.4 147.2,772 		" />
                        <polygon class="st6" points="312.8,661.5 303.1,690.2 292.6,676.8 		" />
                        <polygon class="st6" points="283.4,605.3 293.2,578.6 303.6,591.9 		" />
                        <path class="st6" d="M360.6,517.5c0,0,3.3,27.8-26.8,51.1c-30.2,23.4,38.8-7.1,38.8-7.1v-45.8L360.6,517.5z" />
                    </g>
                    <g>
                        <defs>
                            <rect id="SVGID_10_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_11_">
                            <use xlink:href="#SVGID_10_" style="overflow:visible;" />
                        </clipPath>
                        <g class="st7">
                            <text transform="matrix(0.8848 -0.5837 0 1 87.7143 787.9238)">
                                <tspan x="0" y="0" class="st8 st9 st10">P</tspan>
                                <tspan x="25.2" y="0" class="st8 st9">A</tspan>
                                <tspan x="56.1" y="0" class="st8 st9">R</tspan>
                                <tspan x="84.9" y="0" class="st8 st9">TNERSHIP</tspan>
                                <tspan x="301.7" y="0" class="st8 st9">S</tspan>
                            </text>
                        </g>
                        <g class="st11">
                            <g>
                                <defs>
                                    <rect id="SVGID_12_" x="68.9" y="-704.3" width="455.3" height="2274.5" />
                                </defs>
                                <clipPath id="SVGID_13_">
                                    <use xlink:href="#SVGID_12_" style="overflow:visible;" />
                                </clipPath>
                                <path class="st12" d="M524.2-704.2C272.8-498.5,68.9,163.7,68.9,774.8s203.8,939.8,455.3,734.1" />
                            </g>
                        </g>
                    </g>
                    <line class="st13" id="arrow_innovations_lvl4_oicr" x1="1053.7" y1="429.7" x2="1053.7" y2="555.5" />
                    <polygon class="st14" points="1047.1,550.2 1048.3,549.1 1053.7,554.9 1059,549.1 1060.2,550.2 1053.7,557.2 	" />
                    <line class="st13" id="arrow_policies3_oicr" x1="1022" y1="885.1" x2="1022" y2="718.5" />
                    <polygon class="st14" points="1028.6,723.8 1027.4,724.9 1022,719.1 1016.6,724.9 1015.5,723.8 1022,716.8 	" />
                    <line class="st13" id="arrow_policies2_oicr" x1="1120.7" y1="885.1" x2="1120.7" y2="718.5" />
                    <polygon class="st14" points="1127.3,723.8 1126.1,724.9 1120.7,719.1 1115.4,724.9 1114.2,723.8 1120.7,716.8 	" />
                    <text transform="matrix(1 0 0 1 554.8594 111.9438)" class="st8 st15">1. </text>
                    <text transform="matrix(1 0 0 1 554.8594 139.2998)" class="st8 st15">SPHERE </text>
                    <text transform="matrix(1 0 0 1 554.8594 166.6558)" class="st8 st15">OF </text>
                    <text transform="matrix(1 0 0 1 599.4351 166.6558)">
                        <tspan x="0" y="0" class="st16 st15">CO</tspan>
                        <tspan x="42.1" y="0" class="st16 st15">N</tspan>
                        <tspan x="63.6" y="0" class="st16 st15">T</tspan>
                        <tspan x="80.8" y="0" class="st16 st15">R</tspan>
                        <tspan x="100.4" y="0" class="st16 st15">O</tspan>
                        <tspan x="122.4" y="0" class="st16 st15">L</tspan>
                        <tspan x="137.9" y="0" class="st16 st15"></tspan>
                    </text>
                    <text transform="matrix(1 0 0 1 884.8394 111.9438)" class="st8 st15">2. </text>
                    <text transform="matrix(1 0 0 1 884.8394 139.2998)" class="st8 st15">SPHERE </text>
                    <text transform="matrix(1 0 0 1 884.8394 166.6558)" class="st8 st15">OF </text>
                    <text transform="matrix(1 0 0 1 929.415 166.6558)">
                        <tspan x="0" y="0" class="st16 st15">INF</tspan>
                        <tspan x="47.9" y="0" class="st16 st15">L</tspan>
                        <tspan x="62.9" y="0" class="st16 st15">U</tspan>
                        <tspan x="84.9" y="0" class="st16 st15">E</tspan>
                        <tspan x="102.1" y="0" class="st16 st15">N</tspan>
                        <tspan x="123.6" y="0" class="st16 st15">C</tspan>
                        <tspan x="143.7" y="0" class="st16 st15">E</tspan>
                    </text>
                    <text transform="matrix(1 0 0 1 1201.4629 111.9438)" class="st8 st15">3. </text>
                    <text transform="matrix(1 0 0 1 1201.4629 139.2998)" class="st8 st15">SPHERE </text>
                    <text transform="matrix(1 0 0 1 1201.4629 166.6558)" class="st8 st15">OF </text>
                    <text transform="matrix(1 0 0 1 1246.0391 166.6558)">
                        <tspan x="0" y="0" class="st16 st15 st17">IN</tspan>
                        <tspan x="31.9" y="0" class="st16 st15 st17">TE</tspan>
                        <tspan x="67.5" y="0" class="st16 st15 st17">R</tspan>
                        <tspan x="87.5" y="0" class="st16 st15 st17">ES</tspan>
                        <tspan x="123.6" y="0" class="st16 st15">T</tspan>
                    </text>
                    <g>
                        <defs>
                            <rect id="SVGID_14_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_15_">
                            <use xlink:href="#SVGID_14_" style="overflow:visible;" />
                        </clipPath>
                        <g class="st18">
                            <g>
                                <defs>
                                    <rect id="SVGID_16_" x="554.9" y="561.5" width="136.7" height="136.7" />
                                </defs>
                                <clipPath id="SVGID_17_">
                                    <use xlink:href="#SVGID_16_" style="overflow:visible;" />
                                </clipPath>
                                <path class="st19" id="publications_bg" d="M691.5,629.8c0-37.7-30.6-68.3-68.3-68.3c-37.7,0-68.3,30.6-68.3,68.3s30.6,68.3,68.3,68.3
                                C660.9,698.2,691.5,667.6,691.5,629.8" />
                            </g>
                        </g>

                        <ellipse transform="matrix(0.9997 -2.497651e-02 2.497651e-02 0.9997 -15.5366 15.7617)" class="st20" cx="623.2" cy="629.8" rx="68.3" ry="68.3" />
                    </g>
                    <text id="publications_1" transform="matrix(1 0 0 1 600.0332 615.2695)">
                        <tspan x="0" y="0" class="st21 st22">P</tspan>
                        <tspan x="11.1" y="0" class="st21 st22">eer </tspan>
                    </text>
                    <text id="publications_2" transform="matrix(1 0 0 1 579.6792 635.2354)" class="st21 st22">reviewed </text>
                    <text id="publications_3" transform="matrix(1 0 0 1 592.5205 655.2021)" class="st21 st22">papers</text>
                    <g>
                        <defs>
                            <rect id="SVGID_18_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_19_">
                            <use xlink:href="#SVGID_18_" style="overflow:visible;" />
                        </clipPath>
                        <g class="st23">
                            <g>
                                <defs>
                                    <rect id="SVGID_20_" x="554.9" y="302.1" width="136.7" height="136.7" />
                                </defs>
                                <clipPath id="SVGID_21_">
                                    <use xlink:href="#SVGID_20_" style="overflow:visible;" />
                                </clipPath>
                                <path class="st24" id="trainees_bg" d="M691.5,370.5c0-37.7-30.6-68.3-68.3-68.3c-37.7,0-68.3,30.6-68.3,68.3c0,37.7,30.6,68.3,68.3,68.3
                                C660.9,438.8,691.5,408.2,691.5,370.5" />
                            </g>
                        </g>

                        <ellipse transform="matrix(0.9997 -2.497651e-02 2.497651e-02 0.9997 -9.0583 15.6808)" class="st25" cx="623.2" cy="370.5" rx="68.3" ry="68.3" />
                    </g>
                    <text id="trainees_1" transform="matrix(1 0 0 1 591.6455 366.3242)">
                        <tspan x="0" y="0" class="st21 st22">P</tspan>
                        <tspan x="11.1" y="0" class="st21 st22">eople</tspan>
                    </text>
                    <text id="trainees_2" transform="matrix(1 0 0 1 568.8008 386.2905)" class="st21 st22">trained, PhD</text>
                    <text transform="matrix(1 0 0 1 554.8569 204.8188)" class="st21 st22">Outputs, reporting</text>
                    <g>
                        <text transform="matrix(1 0 0 1 885.8506 204.8188)" class="st21 st22">Outcomes, evaluations</text>
                    </g>
                    <g>
                        <text transform="matrix(1 0 0 1 1200.4707 204.8188)" class="st21 st22">Impact, IAs</text>
                    </g>
                    <g>
                        <defs>
                            <rect id="SVGID_22_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_23_">
                            <use xlink:href="#SVGID_22_" style="overflow:visible;" />
                        </clipPath>
                        <path class="st26" id="almetrics_bg" d="M709.5,925c0-47.6-38.6-86.3-86.3-86.3c-47.6,0-86.3,38.6-86.3,86.3c0,47.6,38.6,86.3,86.3,86.3
                        C670.8,1011.2,709.5,972.6,709.5,925" />
                        <path class="st27" d="M709.5,925c0-47.6-38.6-86.3-86.3-86.3c-47.6,0-86.3,38.6-86.3,86.3c0,47.6,38.6,86.3,86.3,86.3
                        C670.8,1011.2,709.5,972.6,709.5,925z" />
                        <path class="st28" d="M610.7,926.7l-1.6,4.8h-2l5.2-15.2h2.4l5.2,15.2h-2.1l-1.6-4.8H610.7 M615.6,925.2l-1.5-4.4
                        c-0.3-1-0.6-1.9-0.8-2.8h0c-0.2,0.9-0.5,1.8-0.8,2.8l-1.5,4.4H615.6z" />
                        <path class="st29" d="M610.7,926.7l-1.6,4.8h-2l5.2-15.2h2.4l5.2,15.2h-2.1l-1.6-4.8H610.7z M615.6,925.2l-1.5-4.4
                        c-0.3-1-0.6-1.9-0.8-2.8h0c-0.2,0.9-0.5,1.8-0.8,2.8l-1.5,4.4H615.6z" />
                        <rect x="621.7" y="915.4" class="st28" width="2" height="16" />
                        <rect x="621.7" y="915.4" class="st29" width="2" height="16" />
                        <path class="st28" d="M629.2,917.4v3.1h2.8v1.5h-2.8v5.9c0,1.4,0.4,2.1,1.5,2.1c0.5,0,0.9-0.1,1.2-0.1l0.1,1.5
                        c-0.4,0.2-1,0.3-1.8,0.3c-0.9,0-1.7-0.3-2.1-0.8c-0.6-0.6-0.8-1.6-0.8-2.8v-6h-1.7v-1.5h1.7v-2.6L629.2,917.4" />
                        <path class="st29" d="M629.2,917.4v3.1h2.8v1.5h-2.8v5.9c0,1.4,0.4,2.1,1.5,2.1c0.5,0,0.9-0.1,1.2-0.1l0.1,1.5
                        c-0.4,0.2-1,0.3-1.8,0.3c-0.9,0-1.7-0.3-2.1-0.8c-0.6-0.6-0.8-1.6-0.8-2.8v-6h-1.7v-1.5h1.7v-2.6L629.2,917.4z" />
                        <path class="st28" d="M634,923.5c0-1.1,0-2.1-0.1-3h1.7l0.1,1.8h0.1c0.6-1,1.6-2,3.4-2c1.5,0,2.6,0.9,3.1,2.2h0
                        c0.3-0.6,0.8-1.1,1.2-1.4c0.7-0.5,1.4-0.8,2.4-0.8c1.4,0,3.6,0.9,3.6,4.7v6.4h-1.9v-6.2c0-2.1-0.8-3.4-2.4-3.4
                        c-1.1,0-2,0.8-2.3,1.8c-0.1,0.3-0.2,0.6-0.2,1v6.8h-1.9v-6.6c0-1.7-0.8-3-2.3-3c-1.2,0-2.1,1-2.5,2c-0.1,0.3-0.2,0.6-0.2,1v6.6
                        H634V923.5" />
                        <path class="st29" d="M634,923.5c0-1.1,0-2.1-0.1-3h1.7l0.1,1.8h0.1c0.6-1,1.6-2,3.4-2c1.5,0,2.6,0.9,3.1,2.2h0
                        c0.3-0.6,0.8-1.1,1.2-1.4c0.7-0.5,1.4-0.8,2.4-0.8c1.4,0,3.6,0.9,3.6,4.7v6.4h-1.9v-6.2c0-2.1-0.8-3.4-2.4-3.4
                        c-1.1,0-2,0.8-2.3,1.8c-0.1,0.3-0.2,0.6-0.2,1v6.8h-1.9v-6.6c0-1.7-0.8-3-2.3-3c-1.2,0-2.1,1-2.5,2c-0.1,0.3-0.2,0.6-0.2,1v6.6
                        H634V923.5z" />
                        <path class="st28" d="M653.7,926.4c0,2.7,1.8,3.8,3.8,3.8c1.4,0,2.3-0.2,3-0.6l0.3,1.4c-0.7,0.3-1.9,0.7-3.6,0.7
                        c-3.4,0-5.4-2.2-5.4-5.5c0-3.3,1.9-5.9,5.1-5.9c3.6,0,4.5,3.1,4.5,5.2c0,0.4,0,0.7-0.1,0.9H653.7 M659.6,925
                        c0-1.3-0.5-3.2-2.8-3.2c-2,0-2.9,1.9-3,3.2H659.6z" />
                        <path class="st29" d="M653.7,926.4c0,2.7,1.8,3.8,3.8,3.8c1.4,0,2.3-0.2,3-0.6l0.3,1.4c-0.7,0.3-1.9,0.7-3.6,0.7
                        c-3.4,0-5.4-2.2-5.4-5.5c0-3.3,1.9-5.9,5.1-5.9c3.6,0,4.5,3.1,4.5,5.2c0,0.4,0,0.7-0.1,0.9H653.7z M659.6,925
                        c0-1.3-0.5-3.2-2.8-3.2c-2,0-2.9,1.9-3,3.2H659.6z" />
                        <path class="st28" d="M666.1,917.4v3.1h2.8v1.5h-2.8v5.9c0,1.4,0.4,2.1,1.5,2.1c0.5,0,0.9-0.1,1.2-0.1l0.1,1.5
                        c-0.4,0.2-1,0.3-1.8,0.3c-0.9,0-1.7-0.3-2.1-0.8c-0.6-0.6-0.8-1.6-0.8-2.8v-6h-1.7v-1.5h1.7v-2.6L666.1,917.4" />
                        <path class="st29" d="M666.1,917.4v3.1h2.8v1.5h-2.8v5.9c0,1.4,0.4,2.1,1.5,2.1c0.5,0,0.9-0.1,1.2-0.1l0.1,1.5
                        c-0.4,0.2-1,0.3-1.8,0.3c-0.9,0-1.7-0.3-2.1-0.8c-0.6-0.6-0.8-1.6-0.8-2.8v-6h-1.7v-1.5h1.7v-2.6L666.1,917.4z" />
                        <path class="st28" d="M671,924c0-1.3,0-2.4-0.1-3.4h1.7l0.1,2.1h0.1c0.5-1.5,1.7-2.4,3-2.4c0.2,0,0.4,0,0.6,0.1v1.9
                        c-0.2,0-0.4-0.1-0.7-0.1c-1.4,0-2.4,1.1-2.7,2.6c0,0.3-0.1,0.6-0.1,0.9v5.8h-2V924" />
                        <path class="st29" d="M671,924c0-1.3,0-2.4-0.1-3.4h1.7l0.1,2.1h0.1c0.5-1.5,1.7-2.4,3-2.4c0.2,0,0.4,0,0.6,0.1v1.9
                        c-0.2,0-0.4-0.1-0.7-0.1c-1.4,0-2.4,1.1-2.7,2.6c0,0.3-0.1,0.6-0.1,0.9v5.8h-2V924z" />
                        <path class="st28" d="M680.4,917.5c0,0.7-0.5,1.2-1.3,1.2c-0.7,0-1.2-0.5-1.2-1.2c0-0.7,0.5-1.2,1.2-1.2
                        C680,916.2,680.4,916.8,680.4,917.5 M678.2,920.6h2v10.9h-2V920.6z" />
                        <path class="st29" d="M680.4,917.5c0,0.7-0.5,1.2-1.3,1.2c-0.7,0-1.2-0.5-1.2-1.2c0-0.7,0.5-1.2,1.2-1.2
                        C680,916.2,680.4,916.8,680.4,917.5z M678.2,920.6h2v10.9h-2V920.6z" />
                        <path class="st28" d="M691.1,931.1c-0.5,0.3-1.7,0.6-3.1,0.6c-3.3,0-5.4-2.2-5.4-5.6c0-3.4,2.3-5.8,5.9-5.8c1.2,0,2.2,0.3,2.8,0.6
                        l-0.5,1.5c-0.5-0.3-1.2-0.5-2.3-0.5c-2.5,0-3.9,1.9-3.9,4.1c0,2.5,1.6,4.1,3.8,4.1c1.1,0,1.9-0.3,2.4-0.5L691.1,931.1" />
                    </g>
                    <g>
                        <defs>
                            <rect id="SVGID_24_" x="555" y="901.6" width="136.3" height="46.8" />
                        </defs>
                        <clipPath id="SVGID_25_">
                            <use xlink:href="#SVGID_24_" style="overflow:visible;" />
                        </clipPath>
                        <path class="st30" d="M691.1,931.1c-0.5,0.3-1.7,0.6-3.1,0.6c-3.3,0-5.4-2.2-5.4-5.6c0-3.4,2.3-5.8,5.9-5.8c1.2,0,2.2,0.3,2.8,0.6
                        l-0.5,1.5c-0.5-0.3-1.2-0.5-2.3-0.5c-2.5,0-3.9,1.9-3.9,4.1c0,2.5,1.6,4.1,3.8,4.1c1.1,0,1.9-0.3,2.4-0.5L691.1,931.1z" />
                    </g>
                    <g>
                        <defs>
                            <rect id="SVGID_26_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_27_">
                            <use xlink:href="#SVGID_26_" style="overflow:visible;" />
                        </clipPath>
                        <path class="st31" d="M586.9,939c0.9-1.6,1.5-3.3,1.8-5.2c-2.3,2.6-5.6,4.4-9.3,4.6c0,0,0,0,0,0c-1.5,1.1-3.2,1.9-4.9,2.4
                        c-5.4,1.6-11.5,0.2-15.8-4.1c-0.4-0.4-0.8-0.9-1.2-1.4c0,0.1,0.1,0.2,0.1,0.3c2.8,5.4,7.6,9.5,13.4,11.5c0.6,0.1,1.2,0.1,1.8,0.1
                        C578.9,947.3,584.1,944,586.9,939" />
                        <path class="st32" d="M564.9,925.9c0-0.3,0-0.6,0-0.9c0-3.4,1.3-6.5,3.3-8.9c0,0,0,0,0,0l0-0.1c0-0.1,0-0.2,0-0.3c0,0,0,0,0-0.1
                        c0-0.1,0-0.2,0.1-0.3c0,0,0,0,0,0c1.3-6.2,6.2-11.2,12.5-12.4c1.6-0.3,3.2-0.3,4.8-0.2c-2.3-0.7-4.7-1.1-7.2-1.1
                        c-3.8,0-7.3,0.9-10.5,2.5c-0.5,0.4-0.9,0.8-1.4,1.2C561,910.9,560.4,919.6,564.9,925.9" />
                        <path class="st33" d="M564.4,933.4c1.6,0.9,3.3,1.5,5.2,1.8c-2.6-2.3-4.4-5.6-4.6-9.3c-4.5-6.3-4-15,1.7-20.7
                        c0.4-0.4,0.9-0.8,1.4-1.2c-0.1,0-0.1,0.1-0.2,0.1c-5.4,2.8-9.6,7.6-11.6,13.5c-0.1,0.6-0.1,1.2-0.1,1.8
                        C556.1,925.4,559.5,930.7,564.4,933.4" />
                        <path class="st34" d="M574.5,940.9c1.7-0.5,3.4-1.3,4.9-2.4c0,0,0,0,0,0c-0.3,0-0.6,0-0.9,0c-3.4,0-6.5-1.3-8.9-3.3
                        c-1.8-0.3-3.6-0.9-5.2-1.8c-4.9-2.7-8.3-8-8.3-14c0-0.6,0-1.2,0.1-1.8c0,0.1-0.1,0.2-0.1,0.3c-0.7,2.2-1.1,4.6-1.1,7.1
                        c0,3.8,0.9,7.3,2.5,10.5c0.4,0.5,0.8,0.9,1.2,1.4C563,941.1,569,942.4,574.5,940.9" />
                        <path class="st35" d="M599.4,914.5c-0.4-0.5-0.8-0.9-1.2-1.4c-4.3-4.3-10.3-5.6-15.7-4.1c-1.7,0.5-3.4,1.3-4.9,2.4
                        c0.3,0,0.6,0,0.9,0c3.4,0,6.5,1.3,8.9,3.3c1.8,0.3,3.6,0.9,5.2,1.8c4.9,2.7,8.3,8,8.3,14c0,0.6,0,1.2-0.1,1.8
                        c0-0.1,0.1-0.2,0.1-0.3c0.7-2.2,1.1-4.6,1.1-7.1C601.9,921.2,601,917.6,599.4,914.5" />
                        <path class="st36" d="M580.9,902.9c-6.3,1.2-11.2,6.2-12.5,12.4c0,0,0,0,0,0c0,0.1,0,0.2-0.1,0.3c0,0,0,0,0,0.1c0,0.1,0,0.2,0,0.3
                        l0,0.1c0,0,0,0,0,0c2.3-2.6,5.6-4.4,9.3-4.6c1.5-1.1,3.2-1.9,4.9-2.4c5.4-1.6,11.5-0.2,15.7,4.1c0.4,0.4,0.8,0.9,1.2,1.4
                        c-0.1-0.1-0.1-0.2-0.2-0.3c-2.8-5.3-7.6-9.5-13.4-11.4c-0.1,0-0.1,0-0.2,0C584.1,902.5,582.5,902.6,580.9,902.9" />
                        <path class="st37" d="M594.3,928.9c-0.5-1.7-1.3-3.4-2.4-4.9c0,0.3,0,0.6,0,0.9c0,3.4-1.3,6.5-3.3,8.9c-0.3,1.8-0.9,3.6-1.8,5.2
                        c-2.7,4.9-8,8.3-14,8.3c-0.6,0-1.2,0-1.8-0.1c0.1,0,0.2,0.1,0.3,0.1c2.3,0.7,4.7,1.1,7.2,1.1c3.8,0,7.3-0.9,10.5-2.5
                        c0.5-0.4,0.9-0.8,1.4-1.2C594.6,940.4,595.9,934.4,594.3,928.9" />
                        <path class="st38" d="M592.5,916.6c-1.6-0.9-3.3-1.5-5.2-1.8c2.6,2.3,4.4,5.6,4.6,9.3c1.1,1.5,1.9,3.2,2.4,4.9
                        c1.6,5.4,0.2,11.5-4,15.8c-0.4,0.4-0.9,0.8-1.4,1.2c0.2-0.1,0.3-0.2,0.5-0.2c5.3-2.8,9.3-7.6,11.3-13.3c0.1-0.6,0.1-1.2,0.1-1.8
                        C600.8,924.5,597.4,919.3,592.5,916.6" />
                        <g class="st39">
                            <g>
                                <defs>
                                    <rect id="SVGID_28_" x="720.1" y="534.5" width="190.6" height="190.6" />
                                </defs>
                                <clipPath id="SVGID_29_">
                                    <use xlink:href="#SVGID_28_" style="overflow:visible;" />
                                </clipPath>
                                <path class="st40" id="milestones_bg" d="M910.7,629.8c0-52.6-42.7-95.3-95.3-95.3s-95.3,42.7-95.3,95.3s42.7,95.3,95.3,95.3
                                S910.7,682.5,910.7,629.8" />
                            </g>
                        </g>

                        <ellipse transform="matrix(0.9718 -0.236 0.236 0.9718 -125.6013 210.2145)" class="st41" cx="815.4" cy="629.8" rx="95.3" ry="95.3" />
                    </g>
                    <text id="milestones_1" transform="matrix(1 0 0 1 756.0049 636.582)" class="st21 st42">Milestones</text>
                    <g>
                        <defs>
                            <rect id="SVGID_30_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_31_">
                            <use xlink:href="#SVGID_30_" style="overflow:visible;" />
                        </clipPath>
                        <g class="st43">
                            <g>
                                <defs>
                                    <rect id="SVGID_32_" x="721.1" y="291.1" width="383.6" height="159.5"/>
                                </defs>
                                <clipPath id="SVGID_33_" >
                                    <use xlink:href="#SVGID_32_" style="overflow:visible;"/>
                                </clipPath>
                                <path class="st44" id="innovations_bg" d="M1092.8,450.7H733c-6.6,0-11.9-5.3-11.9-11.9V303c0-6.6,5.3-11.9,11.9-11.9h359.9
                                c6.6,0,11.9,5.3,11.9,11.9v135.8C1104.7,445.4,1099.4,450.7,1092.8,450.7" />
                            </g>
                        </g>
                        <path class="st45"  id="innovations_bg_1" d="M1092.8,450.7H733c-6.6,0-11.9-5.3-11.9-11.9V303c0-6.6,5.3-11.9,11.9-11.9h359.9c6.6,0,11.9,5.3,11.9,11.9
                        v135.8C1104.7,445.4,1099.4,450.7,1092.8,450.7z" />
                        <g class="st46">
                            <g>
                                <defs>
                                    <rect id="SVGID_34_" x="748.9" y="355" width="74.7" height="74.7" />
                                </defs>
                                <clipPath id="SVGID_35_">
                                    <use xlink:href="#SVGID_34_" style="overflow:visible;" />
                                </clipPath>
                                <path class="st47" id="innovations_stg1_bg" d="M823.6,392.4c0-20.6-16.7-37.3-37.3-37.3s-37.3,16.7-37.3,37.3c0,20.6,16.7,37.3,37.3,37.3
                                S823.6,413,823.6,392.4" />
                            </g>
                        </g>
                        <path class="st48" d="M823.6,392.4c0-20.6-16.7-37.3-37.3-37.3s-37.3,16.7-37.3,37.3c0,20.6,16.7,37.3,37.3,37.3
                        S823.6,413,823.6,392.4z" />
                    </g>
                    <text transform="matrix(1 0 0 1 748.8672 334.8682)" class="st49 st42">Innovations</text>
                    <text id="innovations_stg1_1" transform="matrix(1 0 0 1 767.3564 385.6387)">
                        <tspan x="0" y="0" class="st21 st50">S</tspan>
                        <tspan x="7.3" y="0" class="st21 st50">T</tspan>
                        <tspan x="13.6" y="0" class="st21 st50">A</tspan>
                        <tspan x="21.2" y="0" class="st21 st50">GE</tspan>
                    </text>
                    <text id="innovations_stg1_2" transform="matrix(1 0 0 1 780.5596 412.0654)" class="st49 st51">1</text>
                    <g>
                        <defs>
                            <rect id="SVGID_36_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_37_">
                            <use xlink:href="#SVGID_36_" style="overflow:visible;" />
                        </clipPath>
                        <g class="st52">
                            <g>
                                <defs>
                                    <rect id="SVGID_38_" x="834.7" y="355" width="74.7" height="74.7" />
                                </defs>
                                <clipPath id="SVGID_39_">
                                    <use xlink:href="#SVGID_38_" style="overflow:visible;" />
                                </clipPath>
                                <path class="st53" id="innovations_stg2_bg" d="M909.4,392.4c0-20.6-16.7-37.3-37.3-37.3c-20.6,0-37.3,16.7-37.3,37.3c0,20.6,16.7,37.3,37.3,37.3
                                C892.7,429.7,909.4,413,909.4,392.4" />
                            </g>
                        </g>
                        <path class="st54" d="M909.4,392.4c0-20.6-16.7-37.3-37.3-37.3c-20.6,0-37.3,16.7-37.3,37.3c0,20.6,16.7,37.3,37.3,37.3
                        C892.7,429.7,909.4,413,909.4,392.4z" />
                    </g>
                    <text id="innovations_stg2_1" transform="matrix(1 0 0 1 853.1748 385.6387)">
                        <tspan x="0" y="0" class="st21 st50">S</tspan>
                        <tspan x="7.3" y="0" class="st21 st50">T</tspan>
                        <tspan x="13.6" y="0" class="st21 st50">A</tspan>
                        <tspan x="21.2" y="0" class="st21 st50">GE</tspan>
                    </text>
                    <text id="innovations_stg2_2" transform="matrix(1 0 0 1 863.1768 412.0654)" class="st49 st51">2</text>
                    <g>
                        <defs>
                            <rect id="SVGID_40_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_41_">
                            <use xlink:href="#SVGID_40_" style="overflow:visible;" />
                        </clipPath>
                        <path class="st55" id="innovations_stg3_bg" d="M995.2,392.4c0-20.6-16.7-37.3-37.3-37.3c-20.6,0-37.3,16.7-37.3,37.3c0,20.6,16.7,37.3,37.3,37.3
                        C978.5,429.7,995.2,413,995.2,392.4" />
                        <path class="st56" d="M995.2,392.4c0-20.6-16.7-37.3-37.3-37.3c-20.6,0-37.3,16.7-37.3,37.3c0,20.6,16.7,37.3,37.3,37.3
                        C978.5,429.7,995.2,413,995.2,392.4z" />
                    </g>
                    <text id="innovations_stg3_1" transform="matrix(1 0 0 1 938.9941 385.6387)">
                        <tspan x="0" y="0" class="st21 st50">S</tspan>
                        <tspan x="7.3" y="0" class="st21 st50">T</tspan>
                        <tspan x="13.6" y="0" class="st21 st50">A</tspan>
                        <tspan x="21.2" y="0" class="st21 st50">GE</tspan>
                    </text>
                    <text id="innovations_stg3_2" transform="matrix(1 0 0 1 949.3096 412.0654)" class="st49 st51">3</text>
                    <g>
                        <defs>
                            <rect id="SVGID_42_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_43_">
                            <use xlink:href="#SVGID_42_" style="overflow:visible;" />
                        </clipPath>
                        <path class="st57" id="innovations_stg4_bg" d="M1081,392.4c0-20.6-16.7-37.3-37.3-37.3c-20.6,0-37.3,16.7-37.3,37.3c0,20.6,16.7,37.3,37.3,37.3
                        C1064.3,429.7,1081,413,1081,392.4" />
                        <path class="st58" d="M1081,392.4c0-20.6-16.7-37.3-37.3-37.3c-20.6,0-37.3,16.7-37.3,37.3c0,20.6,16.7,37.3,37.3,37.3
                        C1064.3,429.7,1081,413,1081,392.4z" />
                    </g>
                    <text id="innovations_stg4_1" transform="matrix(1 0 0 1 1024.8125 385.6387)">
                        <tspan x="0" y="0" class="st21 st50">S</tspan>
                        <tspan x="7.3" y="0" class="st21 st50">T</tspan>
                        <tspan x="13.6" y="0" class="st21 st50">A</tspan>
                        <tspan x="21.2" y="0" class="st21 st50">GE</tspan>
                    </text>
                    <text id="innovations_stg4_2" transform="matrix(1 0 0 1 1035.04 412.0654)" class="st49 st51">4</text>
                    <g>
                        <defs>
                            <rect id="SVGID_44_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_45_">
                            <use xlink:href="#SVGID_44_" style="overflow:visible;" />
                        </clipPath>
                        <g class="st59">
                            <g>
                                <defs>
                                    <rect id="SVGID_46_" x="933.9" y="557.2" width="351.9" height="159.5" />
                                </defs>
                                <clipPath id="SVGID_47_">
                                    <use xlink:href="#SVGID_46_" style="overflow:visible;" />
                                </clipPath>
                                <path class="st60" id="oicr_bg_1" d="M1273.9,716.8H945.8c-6.6,0-11.9-5.3-11.9-11.9V569.1c0-6.6,5.3-11.9,11.9-11.9h328.1
                                c6.6,0,11.9,5.3,11.9,11.9v135.8C1285.8,711.5,1280.5,716.8,1273.9,716.8" />
                            </g>
                        </g>
                        <path class="st61" id="oicr_bg_2" d="M1273.9,716.8H945.8c-6.6,0-11.9-5.3-11.9-11.9V569.1c0-6.5,5.3-11.9,11.9-11.9h328.1
                        c6.6,0,11.9,5.3,11.9,11.9v135.8C1285.8,711.5,1280.5,716.8,1273.9,716.8z" />
                        <path class="st62"  id="oicr_level1_bg" d="M1042.6,654.2c0-24-19.5-43.5-43.5-43.5s-43.5,19.5-43.5,43.5s19.5,43.5,43.5,43.5
                        S1042.6,678.2,1042.6,654.2" />

                        <ellipse transform="matrix(1 -3.703671e-03 3.703671e-03 1 -2.4161 3.7046)" class="st63" cx="999" cy="654.2" rx="43.5" ry="43.5" />
                    </g>
                    <text id="title-oicr" transform="matrix(1 0 0 1 961.6953 595.9668)" class="st21 st42">OICR</text>
                    <text  id="oicr_level1_1" transform="matrix(1 0 0 1 970.4814 643.2305)">
                        <tspan x="0" y="0" class="st21 st50">M</tspan>
                        <tspan x="9.6" y="0" class="st21 st50 st64">A</tspan>
                        <tspan x="16.6" y="0" class="st21 st50">T</tspan>
                        <tspan x="23.5" y="0" class="st21 st50">U</tspan>
                        <tspan x="31.8" y="0" class="st21 st50">R</tspan>
                        <tspan x="38.9" y="0" class="st21 st50">I</tspan>
                        <tspan x="41.3" y="0" class="st21 st50">T</tspan>
                        <tspan x="48.2" y="0" class="st21 st50">Y</tspan>
                    </text>
                    <text  id="oicr_level1_2" transform="matrix(1 0 0 1 981.7988 656.8447)">
                        <tspan x="0" y="0" class="st21 st50">LE</tspan>
                        <tspan x="12.7" y="0" class="st21 st50">V</tspan>
                        <tspan x="20.5" y="0" class="st21 st50">E</tspan>
                        <tspan x="27.4" y="0" class="st21 st50">L</tspan>
                    </text>
                    <text  id="oicr_level1_3" transform="matrix(1 0 0 1 993.3877 683.834)" class="st49 st51">1</text>
                    <g>
                        <defs>
                            <rect id="SVGID_48_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_49_">
                            <use xlink:href="#SVGID_48_" style="overflow:visible;" />
                        </clipPath>
                        <path class="st65" id="oicr_level2_bg" d="M1149.8,654.2c0-24-19.5-43.5-43.5-43.5c-24,0-43.5,19.5-43.5,43.5s19.5,43.5,43.5,43.5
                        C1130.4,697.7,1149.8,678.2,1149.8,654.2" />
                        <path class="st66" d="M1149.8,654.2c0-24-19.5-43.5-43.5-43.5c-24,0-43.5,19.5-43.5,43.5s19.5,43.5,43.5,43.5
                        C1130.4,697.7,1149.8,678.2,1149.8,654.2z" />
                    </g>
                    <text id="oicr_level2_1" transform="matrix(1 0 0 1 1077.7559 643.2305)">
                        <tspan x="0" y="0" class="st21 st50">M</tspan>
                        <tspan x="9.6" y="0" class="st21 st50 st64">A</tspan>
                        <tspan x="16.6" y="0" class="st21 st50">T</tspan>
                        <tspan x="23.5" y="0" class="st21 st50">URI</tspan>
                        <tspan x="41.3" y="0" class="st21 st50">T</tspan>
                        <tspan x="48.2" y="0" class="st21 st50">Y</tspan>
                    </text>
                    <text id="oicr_level2_2" transform="matrix(1 0 0 1 1089.0732 656.8447)">
                        <tspan x="0" y="0" class="st21 st50">L</tspan>
                        <tspan x="5.8" y="0" class="st21 st50">E</tspan>
                        <tspan x="12.7" y="0" class="st21 st50">V</tspan>
                        <tspan x="20.6" y="0" class="st21 st50">E</tspan>
                        <tspan x="27.4" y="0" class="st21 st50">L</tspan>
                    </text>
                    <text id="oicr_level2_3" transform="matrix(1 0 0 1 1097.46 683.834)" class="st49 st51">2</text>
                    <g>
                        <defs>
                            <rect id="SVGID_50_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_51_">
                            <use xlink:href="#SVGID_50_" style="overflow:visible;" />
                        </clipPath>
                        <path class="st67"  id="oicr_level3" d="M1257.1,654.2c0-24-19.5-43.5-43.5-43.5c-24,0-43.5,19.5-43.5,43.5s19.5,43.5,43.5,43.5
                        C1237.6,697.7,1257.1,678.2,1257.1,654.2" />
                        <path class="st68" d="M1257.1,654.2c0-24-19.5-43.5-43.5-43.5c-24,0-43.5,19.5-43.5,43.5s19.5,43.5,43.5,43.5
                        C1237.6,697.7,1257.1,678.2,1257.1,654.2z" />
                    </g>
                    <text id="oicr_title_1" transform="matrix(1 0 0 1 1185.0293 643.2305)">
                        <tspan x="0" y="0" class="st14 st21 st50">M</tspan>
                        <tspan x="9.6" y="0" class="st14 st21 st50 st64">A</tspan>
                        <tspan x="16.6" y="0" class="st14 st21 st50">T</tspan>
                        <tspan x="23.5" y="0" class="st14 st21 st50">URI</tspan>
                        <tspan x="41.3" y="0" class="st14 st21 st50">T</tspan>
                        <tspan x="48.2" y="0" class="st14 st21 st50">Y</tspan>
                    </text>
                    <text id="oicr_title_2" transform="matrix(1 0 0 1 1196.3467 656.8447)">
                        <tspan x="0" y="0" class="st14 st21 st50">L</tspan>
                        <tspan x="5.8" y="0" class="st14 st21 st50">E</tspan>
                        <tspan x="12.7" y="0" class="st14 st21 st50">V</tspan>
                        <tspan x="20.6" y="0" class="st14 st21 st50">E</tspan>
                        <tspan x="27.4" y="0" class="st14 st21 st50">L</tspan>
                    </text>
                    <text id="oicr_title_3" transform="matrix(1 0 0 1 1205.0469 683.834)" class="st14 st49 st51">3</text>
                    <g>
                        <defs>
                            <rect id="SVGID_52_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_53_">
                            <use xlink:href="#SVGID_52_" style="overflow:visible;" />
                        </clipPath>
                        <g class="st69">
                            <g>
                                <defs>
                                    <rect id="SVGID_54_" x="845.9" y="821.3" width="338.5" height="159.5" />
                                </defs>
                                <clipPath id="SVGID_55_">
                                    <use xlink:href="#SVGID_54_" style="overflow:visible;" />
                                </clipPath>
                                <path class="st70" id="policies_bg" d="M1172.6,980.8H857.8c-6.6,0-11.9-5.3-11.9-11.9V833.1c0-6.6,5.3-11.9,11.9-11.9h314.8
                                c6.6,0,11.9,5.3,11.9,11.9v135.8C1184.5,975.5,1179.2,980.8,1172.6,980.8" />
                            </g>
                        </g>
                        <path class="st71" id="policies_bg_1" d="M1172.6,980.8H857.8c-6.6,0-11.9-5.3-11.9-11.9V833.1c0-6.6,5.3-11.9,11.9-11.9h314.8
                        c6.6,0,11.9,5.3,11.9,11.9v135.8C1184.5,975.5,1179.2,980.8,1172.6,980.8z" />
                        <path class="st72" id="policies_lvl1_bg" d="M947.9,918.2c0-20.3-16.5-36.8-36.8-36.8c-20.3,0-36.8,16.5-36.8,36.8c0,20.3,16.5,36.8,36.8,36.8
                        C931.4,955,947.9,938.6,947.9,918.2" />
                        <path class="st73" d="M947.9,918.2c0-20.3-16.5-36.8-36.8-36.8c-20.3,0-36.8,16.5-36.8,36.8c0,20.3,16.5,36.8,36.8,36.8
                        C931.4,955,947.9,938.6,947.9,918.2z" />
                    </g>
                    <text transform="matrix(1 0 0 1 873.7158 864.9902)">
                        <tspan x="0" y="0" class="st49 st42">P</tspan>
                        <tspan x="15.2" y="0" class="st49 st42">olicies</tspan>
                    </text>
                    <text id="policies_lvl1_1" transform="matrix(1 0 0 1 893.8193 907.2529)">
                        <tspan x="0" y="0" class="st21 st50">LE</tspan>
                        <tspan x="12.7" y="0" class="st21 st50">V</tspan>
                        <tspan x="20.5" y="0" class="st21 st50">E</tspan>
                        <tspan x="27.4" y="0" class="st21 st50">L</tspan>
                    </text>
                    <text id="policies_lvl1_2" transform="matrix(1 0 0 1 905.4082 936.5156)" class="st49 st51">1</text>
                    <g>
                        <defs>
                            <rect id="SVGID_56_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_57_">
                            <use xlink:href="#SVGID_56_" style="overflow:visible;" />
                        </clipPath>
                        <path class="st74" id="policies_lvl2_bg" d="M1048.9,918.2c0-20.3-16.5-36.8-36.8-36.8s-36.8,16.5-36.8,36.8c0,20.3,16.5,36.8,36.8,36.8
                        S1048.9,938.6,1048.9,918.2" />
                        <path class="st75" d="M1048.9,918.2c0-20.3-16.5-36.8-36.8-36.8s-36.8,16.5-36.8,36.8c0,20.3,16.5,36.8,36.8,36.8
                        S1048.9,938.6,1048.9,918.2z" />
                    </g>
                    <text id="policies_lvl2_1" transform="matrix(1 0 0 1 994.8213 907.2529)">
                        <tspan x="0" y="0" class="st14 st21 st50">LE</tspan>
                        <tspan x="12.7" y="0" class="st14 st21 st50">V</tspan>
                        <tspan x="20.5" y="0" class="st14 st21 st50">E</tspan>
                        <tspan x="27.4" y="0" class="st14 st21 st50">L</tspan>
                    </text>
                    <text id="policies_lvl2_2" transform="matrix(1 0 0 1 1003.21 936.5156)" class="st14 st49 st51">2</text>
                    <g>
                        <defs>
                            <rect id="SVGID_58_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_59_">
                            <use xlink:href="#SVGID_58_" style="overflow:visible;" />
                        </clipPath>
                        <path class="st76" id="policies_lvl3_bg" d="M1148.6,918.2c0-20.3-16.5-36.8-36.8-36.8c-20.3,0-36.8,16.5-36.8,36.8c0,20.3,16.5,36.8,36.8,36.8
                        C1132.1,955,1148.6,938.6,1148.6,918.2" />
                        <circle class="st77" cx="1111.8" cy="918.2" r="36.8" />
                    </g>
                    <text id="policies_lvl3_1" transform="matrix(1 0 0 1 1094.5479 907.2529)">
                        <tspan x="0" y="0" class="st14 st21 st50">L</tspan>
                        <tspan x="5.8" y="0" class="st14 st21 st50">E</tspan>
                        <tspan x="12.7" y="0" class="st14 st21 st50">V</tspan>
                        <tspan x="20.6" y="0" class="st14 st21 st50">E</tspan>
                        <tspan x="27.4" y="0" class="st14 st21 st50">L</tspan>
                    </text>
                    <text id="policies_lvl3_2" transform="matrix(1 0 0 1 1103.248 936.5156)" class="st14 st49 st51">3</text>
                    <g>
                        <defs>
                            <rect id="SVGID_60_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_61_">
                            <use xlink:href="#SVGID_60_" style="overflow:visible;" />
                        </clipPath>
                        <line class="st78" x1="554.9" y1="179.4" x2="807.5" y2="179.4" />
                        <line class="st78" x1="885.9" y1="179.4" x2="1138.4" y2="179.4" />
                        <line class="st78" x1="1200.5" y1="179.4" x2="1430.4" y2="179.4" />
                        <g class="st79">
                            <g>
                                <defs>
                                    <rect id="SVGID_62_" x="1150.3" y="328" width="128.7" height="128.7" />
                                </defs>
                                <clipPath id="SVGID_63_">
                                    <use xlink:href="#SVGID_62_" style="overflow:visible;" />
                                </clipPath>
                                <path class="st80" id="pjs_ben" d="M1278.9,392.4c0-35.5-28.8-64.3-64.3-64.3c-35.5,0-64.3,28.8-64.3,64.3s28.8,64.3,64.3,64.3
                                C1250.1,456.7,1278.9,427.9,1278.9,392.4" />
                            </g>
                        </g>

                        <ellipse transform="matrix(2.628859e-02 -0.9997 0.9997 2.628859e-02 790.4295 1596.2236)" class="st81" cx="1214.6" cy="392.4" rx="64.3" ry="64.3" />
                    </g>
                    <text id="pjs_ben_1" transform="matrix(1 0 0 1 1175.5254 377.8037)">
                        <tspan x="0" y="0" class="st21 st22">P</tspan>
                        <tspan x="10.5" y="0" class="st21 st22">r</tspan>
                        <tspan x="15.9" y="0" class="st21 st22">o</tspan>
                        <tspan x="26.7" y="0" class="st21 st22">jecte</tspan>
                        <tspan x="65.5" y="0" class="st21 st22">d</tspan>
                    </text>
                    <text id="pjs_ben_2" transform="matrix(1 0 0 1 1181.7314 397.77)">
                        <tspan x="0" y="0" class="st21 st22">b</tspan>
                        <tspan x="10.7" y="0" class="st21 st22">enet</tspan>
                        <tspan x="55.2" y="0" class="st21 st22">s</tspan>
                    </text>
                    <text id="pjs_ben_3" transform="matrix(1 0 0 1 1166.2363 417.7363)">
                        <tspan x="0" y="0" class="st21 st22">a</tspan>
                        <tspan x="9.7" y="0" class="st21 st22">s</tspan>
                        <tspan x="18.1" y="0" class="st21 st22">ses</tspan>
                        <tspan x="46" y="0" class="st21 st22">s</tspan>
                        <tspan x="54.4" y="0" class="st21 st22">men</tspan>
                        <tspan x="90.2" y="0" class="st21 st22">t</tspan>
                    </text>
                    <g>
                        <defs>
                            <rect id="SVGID_64_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_65_">
                            <use xlink:href="#SVGID_64_" style="overflow:visible;" />
                        </clipPath>
                        <g class="st82">
                            <g>
                                <defs>
                                    <rect id="SVGID_66_" x="1323.5" y="263" width="258.7" height="258.7" />
                                </defs>
                                <clipPath id="SVGID_67_">
                                    <use xlink:href="#SVGID_66_" style="overflow:visible;" />
                                </clipPath>
                                <path class="st83" id="slo_bg" d="M1582.3,392.4c0-71.4-57.9-129.4-129.4-129.4c-71.4,0-129.4,57.9-129.4,129.4s57.9,129.4,129.4,129.4
                                C1524.3,521.7,1582.3,463.8,1582.3,392.4" />
                            </g>
                        </g>

                        <ellipse transform="matrix(1 -9.802577e-03 9.802577e-03 1 -3.7764 14.261)" id="slo_ellipse" class="st84" cx="1452.9" cy="392.4" rx="129.4" ry="129.4" />
                        <path class="st85" d="M1368.4,407.8h6c5.4,0,8.9,3.7,8.9,9.2v0.2c0,5.5-3.5,9.2-8.9,9.2h-6V407.8z M1372.2,411.2v11.7h2.1
                        c2.9,0,4.9-2.1,4.9-5.8V417c0-3.7-2-5.8-4.9-5.8H1372.2z" />
                        <polygon class="st85" points="1385.3,407.8 1397.4,407.8 1397.4,411.2 1389.2,411.2 1389.2,415.3 1396.4,415.3 1396.4,418.8
                        1389.2,418.8 1389.2,422.9 1397.5,422.9 1397.5,426.4 1385.3,426.4 		" />
                        <polygon class="st85" points="1398.1,407.8 1402.3,407.8 1406.3,420.6 1410.2,407.8 1414.3,407.8 1408,426.5 1404.4,426.5 		" />
                        <polygon class="st85" points="1415.6,407.8 1427.7,407.8 1427.7,411.2 1419.5,411.2 1419.5,415.3 1426.7,415.3 1426.7,418.8
                        1419.5,418.8 1419.5,422.9 1427.8,422.9 1427.8,426.4 1415.6,426.4 		" />
                        <polygon class="st85" points="1429.8,407.8 1433.7,407.8 1433.7,422.9 1441.2,422.9 1441.2,426.4 1429.8,426.4 		" />
                        <path class="st85" d="M1441.2,417.3V417c0-5.6,3.5-9.5,8.5-9.5c5,0,8.4,3.9,8.4,9.5v0.3c0,5.6-3.5,9.5-8.5,9.5
                        C1444.7,426.7,1441.2,422.9,1441.2,417.3 M1454.1,417.2V417c0-3.7-1.9-6-4.5-6c-2.6,0-4.5,2.3-4.5,6v0.2c0,3.7,1.9,6,4.5,6
                        C1452.2,423.2,1454.1,420.9,1454.1,417.2" />
                        <path class="st85" d="M1460.2,407.8h6.2c4.2,0,6.8,2.4,6.8,6.4v0.1c0,4.3-3.1,6.5-7,6.5h-2.2v5.7h-3.9V407.8z M1466.2,417.3
                        c2,0,3.1-1.3,3.1-3v0c0-1.9-1.1-3-3.2-3h-2.1v6H1466.2z" />
                        <polygon class="st85" points="1474.8,407.8 1478.8,407.8 1483,415.3 1487.1,407.8 1491.2,407.8 1491.2,426.4 1487.4,426.4
                        1487.4,414.5 1483,422.2 1482.9,422.2 1478.5,414.6 1478.5,426.4 1474.8,426.4 		" />
                        <polygon class="st85" points="1493.9,407.8 1505.9,407.8 1505.9,411.2 1497.8,411.2 1497.8,415.3 1505,415.3 1505,418.8
                        1497.8,418.8 1497.8,422.9 1506,422.9 1506,426.4 1493.9,426.4 		" />
                        <polygon class="st85" points="1508.1,407.8 1511.6,407.8 1518.8,418.6 1518.8,407.8 1522.6,407.8 1522.6,426.4 1519.3,426.4
                        1511.9,415.1 1511.9,426.4 1508.1,426.4 		" />
                        <polygon class="st85" points="1528.9,411.3 1524.2,411.3 1524.2,407.8 1537.4,407.8 1537.4,411.3 1532.8,411.3 1532.8,426.4
                        1528.9,426.4 		" />
                        <path class="st85" d="M1367.6,398.9l2.5-3.1c1.4,1.2,3,2.3,5.1,2.3c1.6,0,2.6-0.8,2.6-2v0c0-1-0.6-1.7-3.5-2.8
                        c-3.6-1.4-5.9-2.8-5.9-6.3v-0.1c0-3.6,2.7-6,6.7-6c2.4,0,4.7,0.8,6.6,2.5l-2.4,3.2c-1.3-1.1-2.8-1.9-4.4-1.9
                        c-1.5,0-2.4,0.7-2.4,1.8v0c0,1.2,0.7,1.7,3.9,3c3.6,1.4,5.5,2.9,5.5,6.1v0.1c0,3.8-2.9,6.1-6.9,6.1
                        C1372.6,402,1369.8,401.1,1367.6,398.9" />
                        <path class="st85" d="M1383.8,393.7v-12.5h4.2v12.6c0,2.9,1.4,4.3,3.6,4.3c2.2,0,3.6-1.4,3.6-4.2v-12.6h4.2v12.4
                        c0,5.6-3.1,8.4-7.8,8.4C1386.9,402,1383.8,399.3,1383.8,393.7" />
                        <path class="st85" d="M1400.7,398.9l2.5-3.1c1.4,1.2,3,2.3,5.1,2.3c1.6,0,2.6-0.8,2.6-2v0c0-1-0.6-1.7-3.5-2.8
                        c-3.6-1.4-5.9-2.8-5.9-6.3v-0.1c0-3.6,2.8-6,6.7-6c2.4,0,4.7,0.8,6.6,2.5l-2.4,3.2c-1.3-1.1-2.8-1.9-4.4-1.9
                        c-1.5,0-2.4,0.7-2.4,1.8v0c0,1.2,0.7,1.7,3.9,3c3.6,1.4,5.5,2.9,5.5,6.1v0.1c0,3.8-2.9,6.1-6.9,6.1
                        C1405.7,402,1402.9,401.1,1400.7,398.9" />
                        <polygon class="st85" points="1420.7,385.1 1415.5,385.1 1415.5,381.2 1430,381.2 1430,385.1 1424.9,385.1 1424.9,401.7
                        1420.7,401.7 		" />
                        <path class="st85" d="M1435.5,381.1h4l7.3,20.6h-4.4l-1.5-4.4h-7.1l-1.5,4.4h-4.3L1435.5,381.1z M1439.7,393.5l-2.2-6.7l-2.3,6.7
                        H1439.7z" />
                        <rect x="1448.5" y="381.2" class="st85" width="4.2" height="20.5" />
                        <polygon class="st85" points="1455.9,381.2 1459.8,381.2 1467.6,393.2 1467.6,381.2 1471.8,381.2 1471.8,401.7 1468.1,401.7
                        1460,389.3 1460,401.7 1455.9,401.7 		" />
                        <path class="st85" d="M1480.6,381.1h4l7.3,20.6h-4.4l-1.5-4.4h-7.1l-1.5,4.4h-4.3L1480.6,381.1z M1484.8,393.5l-2.2-6.7l-2.3,6.7
                        H1484.8z" />
                        <path class="st85" d="M1493.4,381.2h7.6c2.3,0,4.2,0.6,5.4,1.8c0.9,0.9,1.4,2,1.4,3.5v0.1c0,2.4-1.3,3.7-2.8,4.5
                        c2.2,0.8,3.7,2.2,3.7,4.9v0.1c0,3.7-3,5.6-7.4,5.6h-7.8V381.2z M1503.6,387.2c0-1.5-1.1-2.3-2.9-2.3h-3.2v4.6h3
                        C1502.4,389.6,1503.6,388.8,1503.6,387.2L1503.6,387.2z M1501.3,393.2h-3.7v4.8h3.8c1.9,0,3.1-0.8,3.1-2.4v0
                        C1504.4,394.1,1503.4,393.2,1501.3,393.2" />
                        <polygon class="st85" points="1510.6,381.2 1514.9,381.2 1514.9,397.8 1523.1,397.8 1523.1,401.7 1510.6,401.7 		" />
                        <polygon class="st85" points="1524.9,381.2 1538.1,381.2 1538.1,385 1529.1,385 1529.1,389.5 1537,389.5 1537,393.3 1529.1,393.3
                        1529.1,397.9 1538.2,397.9 1538.2,401.7 1524.9,401.7 		" />
                        <path class="st86" d="M1388.5,450h18.1c-0.3,14.6-8.3,21.9-19.1,21.9c-11.6,0-19.1-9.8-19.1-20.3c0-10.5,7.5-20.3,19.1-20.3
                        c12.9,0,16.4,8,17.9,12.2l-8.2,0.5c-1.4-3.4-4.2-5.7-9.7-5.7c-6.2,0-11,5-11,13.4c0,7,4.4,13.4,11.5,13.4c6.3,0,9.2-4.5,9.9-8.2
                        h-9.4V450z" />
                        <polygon class="st86" points="1484,432 1491.8,432 1491.8,463.8 1506.9,463.8 1506.9,471.1 1484,471.1 		" />
                        <path class="st86" d="M1528.8,442.3c0-2.7-2.6-4.4-5.7-4.4c-3.9,0-6.2,1.7-6.2,4.3c0,2.7,2.6,4,4.5,4.6l7.2,2.3
                        c5.2,1.7,8.9,4.7,8.9,10.7c0,4.8-3.4,12-14.3,12c-13.6,0-14.8-8.8-14.8-12.3l7.8-0.2c0,4.2,3.3,5.8,7.1,5.8c2.7,0,6.4-1.3,6.4-4.3
                        c0-2.1-0.9-3.2-4.7-4.6l-8.5-3.1c-4.3-1.6-7.3-5.4-7.3-9.8c0-5,3.4-12.2,13.6-12.2c12.1,0,14,8,14,10.9L1528.8,442.3z" />
                        <path class="st87" d="M1419.1,446.7c0.5-0.8,1.1-1.6,1.7-2.2l-5.7-6.2c-1.4,1.4-2.6,2.9-3.6,4.7L1419.1,446.7z" />
                        <path class="st88" d="M1433,442.3c0.9,0.4,1.7,0.9,2.4,1.5l5.7-6.2c-1.5-1.3-3.2-2.4-5-3.1L1433,442.3z" />
                        <path class="st89" d="M1446.1,444.1l-7.5,3.8c0.4,0.8,0.6,1.7,0.8,2.7l8.4-0.8C1447.4,447.8,1446.9,445.9,1446.1,444.1" />
                        <path class="st90" d="M1438,446.8l7.5-3.8c-0.9-1.7-2.1-3.3-3.5-4.7l-5.7,6.2C1437,445.3,1437.5,446,1438,446.8" />
                        <path class="st91" d="M1417.6,452.2c0-0.2,0-0.3,0-0.5l-8.4-0.8c0,0.4,0,0.8,0,1.3c0,1.6,0.2,3.2,0.6,4.7l8.1-2.3
                        C1417.7,453.8,1417.6,453,1417.6,452.2" />
                        <path class="st92" d="M1436.9,459.1c-0.6,0.7-1.3,1.4-2,1.9l4.4,7.2c1.6-1.1,3.1-2.5,4.3-4L1436.9,459.1z" />
                        <path class="st93" d="M1439.4,452.2c0,0.8-0.1,1.6-0.2,2.3l8.1,2.3c0.4-1.5,0.6-3,0.6-4.6c0-0.4,0-0.8,0-1.2l-8.4,0.8
                        C1439.4,451.9,1439.4,452,1439.4,452.2" />
                        <path class="st94" d="M1420.2,459.2l-6.7,5.1c1.2,1.5,2.7,2.9,4.4,4l4.4-7.2C1421.6,460.6,1420.8,460,1420.2,459.2" />
                        <path class="st95" d="M1417.8,450.5c0.1-0.9,0.4-1.9,0.8-2.7l-7.5-3.8c-0.8,1.8-1.4,3.7-1.7,5.7L1417.8,450.5z" />
                        <path class="st96" d="M1438.3,468.8l-4.4-7.2c-0.8,0.5-1.7,0.8-2.6,1l1.6,8.3C1434.8,470.6,1436.6,469.8,1438.3,468.8" />
                        <path class="st97" d="M1438.8,455.7c-0.3,0.9-0.7,1.7-1.2,2.4l6.7,5.1c1.1-1.6,2-3.3,2.5-5.2L1438.8,455.7z" />
                        <path class="st98" d="M1430.1,463c-0.5,0.1-1,0.1-1.6,0.1c-0.4,0-0.9,0-1.3-0.1l-1.6,8.3c0.9,0.1,1.9,0.2,2.8,0.2
                        c1.1,0,2.1-0.1,3.1-0.3L1430.1,463z" />
                        <path class="st99" d="M1429.2,441.3c0.9,0.1,1.8,0.2,2.7,0.5l3-7.9c-1.8-0.6-3.7-1-5.7-1.1V441.3z" />
                        <path class="st100" d="M1426,462.8c-0.9-0.2-1.8-0.6-2.7-1l-4.4,7.2c1.7,1,3.6,1.7,5.5,2.1L1426,462.8z" />
                        <path class="st101" d="M1425.2,441.8c0.9-0.3,1.8-0.4,2.8-0.5v-8.4c-2,0.1-4,0.4-5.8,1.1L1425.2,441.8z" />
                        <path class="st102" d="M1419.5,458.3c-0.5-0.8-1-1.7-1.3-2.6l-8.1,2.3c0.6,1.9,1.5,3.7,2.7,5.3L1419.5,458.3z" />
                        <path class="st103" d="M1421.8,443.6c0.7-0.6,1.5-1,2.3-1.4l-3-7.9c-1.8,0.8-3.5,1.8-5,3L1421.8,443.6z" />
                        <path class="st86" d="M1471.2,462.8h-14.5l-2.6,8.3h-8.5l14.5-39.7h8.3l14.2,39.7h-8.7L1471.2,462.8z M1464,441h-0.1l-5,15.4h10.2
                        L1464,441z" />
                        <path class="st104" d="M1430.8,338c0-6.1-5-11.1-11.1-11.1c-6.1,0-11.1,5-11.1,11.1c0,6.1,5,11.1,11.1,11.1
                        C1425.8,349.1,1430.8,344.1,1430.8,338" />
                        <path class="st105" d="M1461.9,338c0-6.1-5-11.1-11.1-11.1c-6.1,0-11.1,5-11.1,11.1c0,6.1,5,11.1,11.1,11.1
                        C1456.9,349.1,1461.9,344.1,1461.9,338" />
                        <path class="st106" d="M1492.7,338c0-6.1-5-11.1-11.1-11.1c-6.1,0-11.1,5-11.1,11.1c0,6.1,5,11.1,11.1,11.1
                        C1487.7,349.1,1492.7,344.1,1492.7,338" />
                    </g>
                    <text transform="matrix(1 0 0 1 1410.0186 317.8203)">
                        <tspan x="0" y="0" class="st21 st107">S</tspan>
                        <tspan x="20.6" y="0" class="st21 st107 st64">L</tspan>
                        <tspan x="36.2" y="0" class="st21 st107">Os</tspan>
                    </text>
                    <g>
                        <defs>
                            <rect id="SVGID_68_" width="1920" height="1080" />
                        </defs>
                        <clipPath id="SVGID_69_">
                            <use xlink:href="#SVGID_68_" style="overflow:visible;" />
                        </clipPath>
                        <line class="st108" x1="1363.3" y1="362" x2="1538.2" y2="362" />
                        <g class="st109">
                            <g>
                                <defs>
                                    <rect id="SVGID_70_" x="617.4" y="236.6" width="844.3" height="803.1" />
                                </defs>
                                <clipPath id="SVGID_71_">
                                    <use xlink:href="#SVGID_70_" style="overflow:visible;" />
                                </clipPath>
                                <line class="st110" id="arrow_innovations_pjs" x1="1081" y1="392.4" x2="1148.7" y2="392.4" />
                                <polygon class="st111" points="1144,398.2 1143.1,397.1 1148.2,392.4 1143.1,387.6 1144,386.6 1150.3,392.4 				" />
                                <line class="st110" id="arrow_pjs_ben_slo" x1="1278.9" y1="392.4" x2="1322" y2="392.4" />
                                <polygon class="st111" id="arrow_head_pjs_ben_slo" points="1317.3,398.2 1316.3,397.1 1321.5,392.4 1316.3,387.6 1317.3,386.6 1323.5,392.4 				" />
                                <line class="st110" id="arrow_publications_almetrics" x1="623.2" y1="698.2" x2="623.2" y2="834.2" />
                                <polygon class="st111" points="617.4,829.5 618.4,828.5 623.2,833.6 628,828.5 629,829.5 623.2,835.7 				" />
                                <path class="st110" id="arrow_oicr_slo" d="M1285.8,643.2h109.5c33.5,0,60.6-27.1,60.6-60.6v-59.4" />
                                <polygon class="st111"  points="1461.7,528 1460.6,528.9 1455.9,523.8 1451.1,528.9 1450.1,528 1455.9,521.7 				" />
                                <path class="st110" id="arrow_policies_slo" d="M1184.5,907.3L1184.5,907.3c149.9,0,271.4-121.5,271.4-271.4V523.3" />
                                <polygon class="st111" id="arrow_head_oicr_slo" points="1461.7,528 1460.6,528.9 1455.9,523.8 1451.1,528.9 1450.1,528 1455.9,521.7 				" />
                                <path class="st112" d="M623.2,1011.2v5c0,12.6,10.2,22.7,22.7,22.7h564.3c135.7,0,245.7-110,245.7-245.7V561.5" />
                                <path class="st112" d="M623.2,302.1v-51.2c0-7.5,6.1-13.7,13.7-13.7h803.6c7.5,0,13.7,6.1,13.7,13.7v10.5" />
                                <polygon class="st113" points="1448.3,256.8 1449.3,255.8 1454.1,260.9 1458.8,255.8 1459.9,256.8 1454.1,263 				" />
                                <polyline class="st114" points="815.4,534.5 815.4,488.3 1043.7,488.3 1043.7,431.9 				" />
                                <polygon class="st113" points="1051.9,438.5 1050.4,439.9 1043.7,432.7 1037,439.9 1035.5,438.5 1043.7,429.7 				" />
                                <line class="st114" x1="958" y1="489.6" x2="958" y2="431.9" />
                                <polygon class="st113" points="966.2,438.5 964.7,439.9 958,432.7 951.3,439.9 949.8,438.5 958,429.7 				" />
                                <polyline class="st114" points="815.4,725.2 815.4,788.3 1112.8,788.3 1111.8,879.3 				" />
                                <polygon class="st113" points="1103.7,872.6 1105.2,871.2 1111.8,878.5 1118.6,871.4 1120.1,872.7 1111.8,881.4 				" />
                                <line class="st114" x1="1012.1" y1="788.3" x2="1012.1" y2="879.3" />
                                <polygon class="st113" points="1003.9,872.6 1005.4,871.3 1012.1,878.5 1018.8,871.3 1020.2,872.6 1012.1,881.4 				" />
                            </g>
                        </g>
                    </g>
                    <rect class="st115" width="1920" height="1080" />
                </g>
                <g>
                    <line  id="LR_Edit_lines" class="st116" x1="916.5" y1="818.6" x2="756.4" y2="705.1" />
                    <line  id="LR_Edit_lines_1" class="st116" x1="770.4" y1="545.8" x2="908.7" y2="453" />
                </g>
                <g id="LR_Edit_Heads">
                    <g>
                        <line class="st116" x1="909" y1="452.7" x2="908" y2="461.5" />
                        <line class="st116" x1="909.6" y1="453.1" x2="900.3" y2="452.2" />
                    </g>
                    <g>
                        <line class="st116" x1="916.9" y1="818.3" x2="908.1" y2="818.8" />
                        <line class="st116" x1="916.6" y1="819" x2="915.9" y2="809.6" />
                    </g>
                </g>
                <script>
                    /* function enterClickZone(x){
                            x.style.stroke = '#ff0000';
                            x.style['stroke-width'] = 15;
                            x.style.opacity= 0.8;
                        }
                        function leaveClickZone(x){
                            x.style.stroke = 'none';
                            x.style.opacity= 0.2;
                        }

                        function gotoDash(url){
                            window.open(url);
                        }*/
                    </script>
    </svg>
