<section>
  <div class="container">
    <nav class="main-menu">
      <ul>
        {% for section in sections %}
          <li class="{% if currentSection == section.action %}active{% endif %}">
            <a href="{% if section.active %}./{{ section.action }}{% else %}#{% endif %}" class="active-{{section.active}}"> {{ section.name }} </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</section>
