<div class="alert alert-info alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    This Dashboard includes a sub-set of the 2017 Annual Report data from 6 CRP's for demonstration purposes. Data has
    been extracted directly from Management Information Systems (MARLO) and annual reports for 2017. Some of the data
    for the prototype has not undergone quality checks.
    <br>
    <strong>Note:</strong> This Dashboard works best with Chrome or Firefox. 
</div>