{% macro checkmark(name, value, label) %}
  <label class="inputContainer">
    <input id="{{ name }}" class="" type="radio" name="{{ name }}" value="{{ value }}">
    <span class="checkmark"></span>
    <span class="labelText ">{{ label }}</span>
  </label>
{% endmacro %}
