{% macro checkmark(name, value, label, checked) %}
  <label class="inputContainer">
    <input id="{{ name }}" class="" type="radio" name="{{ name }}" value="{{ value }}" {% if checked|default(false) %}checked="checked"{% endif %}>
    <span class="checkmark"></span>
    <span class="labelText ">{{ label }}</span>
  </label>
{% endmacro %}
