{% set pageParams = {
    'title': 'Altmetric | CGIAR Program Results Dashboard',
    'customCSS': [
      'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css',
      'https://use.fontawesome.com/releases/v5.2.0/css/all.css',
      './css/customInputsFlat.css',
      './css/global.css',
      './css/altmetrics.css'
    ],
    'customJS': [
      'https://code.jquery.com/jquery-3.3.1.min.js',
      'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js',
      'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js',
      'https://www.amcharts.com/lib/3/amcharts.js',
      'https://www.amcharts.com/lib/3/pie.js',
      'https://www.amcharts.com/lib/3/themes/light.js',
      'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js',
      "./js/libs/tableau/tableau-2.2.2.min.js",
      "./js/libs/sly/sly.min.js",
      "./js/altmetrics.js?220419"
    ]
  }
%}

{% include './pages/header.twig' with pageParams %}


{% include './pages/main-menu.twig' with pageParams %}
<div class="container">
  <div class="main-content">
      {% include './pages/message.twig' %}
      <div class="alert alert-dark selection">
      <div class="checkedfilters clearfilters">Clear all filters</div>
      <div class="checkedfilters checkedyears"></div>
      <div class="checkedfilters checkedcrps"></div>
      </div>
      
      <div class="form-group row">
        <div class="col">
          <center><img src="./images/altmetric.svg" width="45px">
          <h6 class="subTitle">Total Publications with<br> Altmetric Attention Score</h6>
          <div class="alt-total">
            <div id="total-altmetrics"></div>
          </div>  
            <h6 class="subTitle">Total Mentions / Readers Tracked by Altmetric</h6>
            <div class="alt-mentions">
              <div id="altmetrics-mentions"></div>
            </div>
        </div> 
        <div class="col-md-7">
          <h6 class="subTitle">Top 10 Altmetric Attention Scores in the Portfolio Year</h6>
          <div class="top-ten">
            <div id="topten-alt"></div>
          </div>  
        </div>        
      </div>

      <div class="form-group row">
        <div class="col">
          <h6 class="subTitle">All Publications with Altmetric Attention Score</h6>
            <div class="alt-list">
              <div id="all-altmetrics"></div>
            </div>
        </div>
      </div>      
      
  </div>
</div>

{% include './pages/footer.twig'  with pageParams %}
