{% set pageParams = {
    'title': 'Outcome Case Studies | CGIAR Program Results Dashboard',
    'customCSS': [
      'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css',
      'https://use.fontawesome.com/releases/v5.2.0/css/all.css',
      './css/customInputsFlat.css',
      './css/global.css',
      './css/caseStudies.css'
    ],
    'customJS': [
      'https://code.jquery.com/jquery-3.3.1.min.js',
      'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js',
      'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js',
      'https://www.amcharts.com/lib/3/amcharts.js',
      'https://www.amcharts.com/lib/3/pie.js',
      'https://www.amcharts.com/lib/3/themes/light.js',
      "./js/libs/tableau/tableau-2.2.2.min.js",
      "./js/libs/sly/sly.min.js",
      "./js/portfolio.js?190827"
    ]
  }
%}

{% include './pages/header.twig' with pageParams %}


{% include './pages/main-menu.twig' with pageParams %}
<div class="container">
  <!-- Filters -->
  {% if embed %}
    {% include './pages/filters.twig' with pageParams %}
  {% endif %}

  <div class="main-content">
    {% include './pages/message.twig' %}
    <div class="alert alert-dark selection">
      <div class="checkedfilters clearfilters">Clear all filters</div>
      <div class="checkedfilters checkedyears"></div>
      <div class="checkedfilters checkedcrps"></div>
      <div class="checkedfilters checkedregion"></div>
      <div class="checkedfilters checkedslo"></div>
      <div class="checkedfilters checkedcci"></div>
      <div class="checkedfilters checkedsdg"></div>
      <div class="checkedfilters checkedgender"></div>
      <div class="checkedfilters checkedyouth"></div>
      <div class="checkedfilters checkedcapdev"></div>
      <div class="checkedfilters checkedClimate"></div>
      <div class="checkedfilters checkedcrossc"></div>
      <div class="checkedfilters chceckedmatstage"></div>
      <div class="checkedfilters checkedPartner"></div>
    </div>

    <div class="form-group row">
      <div class="col-md-7">
            <h6 class="subTitle">Outcome / Impact on the Ground</h6>
              <div class="map-container">
                <div id="map-1"></div>
              </div>
       </div>
      <div class="col-md-5">
        <h6 class="subTitle">Progress Towards CGIAR Objectives</h6>
        <div class="donut-container">
          <div id="chart-2"></div>
        </div>
      </div>
    </div>
    <div class="form-group bot-block">
        <div class= "sdglogo"><a href="https://sustainabledevelopment.un.org/sdgs" class="infotool" target="_blank"><img src="./images/sdglogo.png" width="80%"></a></div><h6 class="subTitle">Contribution to the Sustainable Development Goals</h6>
        <div class="sdg-title">Our case reports (OICR) can align with one or more SDG's</div>
        <div class="sdg-container">
           <div id="sdg-s"></div>
        </div>
    </div>

     <div class="form-group row">
        <div class="col-md-4">
        <h6 class="subTitle">Cross-Cutting Issues</h6>
          <div class="cross-container">
            <div id="cci-p"></div>
          </div>
        </div>
        <div class="col-md-4">
        <h6 class="subTitle">Outcome Impact Case Reports by Level of Maturity</h6>
          <div class="maturity-container">
            <div id="m-stage"></div>
          </div>
        </div>
        <div class="col-md-4">
        <h6 class="subTitle">Total Contributing Partners</h6>
          <div class="contributingPartners-container">
            <div id="contributing-partners"></div>
          </div>
        <h6 class="subTitle">Top 5 Contributing Partners</h6>
          <div class="topPartners-container">
            <div id="top-partners"></div>
          </div>
        </div>
     </div>

    <div class="form-group bot-block">
      <h6 class="subTitle">List of Outcome Impact Case Reports</h6>
        <div class="case-container">
            <div class="list-content">
              <div id="list-test"></div>
            </div>
        </div>
    </div>
</div>
{% include './pages/footer.twig'  with pageParams %}
