{% set pageParams = {
    'title': 'Home | CGIAR Program Results Dashboard',
    'customCSS': [
      'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css',
      'https://use.fontawesome.com/releases/v5.2.0/css/all.css',
      './css/customInputsFlat.css',
      './css/homepage.css',
      './css/global.css'
    ],
    'customJS': [
      'https://code.jquery.com/jquery-3.3.1.min.js',
      'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js',
      'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js',
      'https://www.amcharts.com/lib/3/amcharts.js',
      'https://www.amcharts.com/lib/3/pie.js',
      'https://www.amcharts.com/lib/3/themes/light.js',
      "./js/libs/tableau/tableau-2.2.2.min.js",
      "./js/libs/sly/sly.min.js",
      "./js/homepage.js"
    ]
  }
%}

{% include './pages/header.twig' with pageParams %}


{% include './pages/main-menu.twig' with pageParams %}

<div class="container">
  <div class="main-content">

    <div class="form-group row">
        <div class="col-md-4">
        <h6 class="subTitle">1. Contribution to <strong>System Level Outcomes (SLOs)</strong></h6>
        <p class="indicator-description">SLOs are the CGIAR’s highest level goals, aligned with the United Nation’s Sustainable Development Goals (SDGs).</p>
          <div class="chart-container slo-contribution">
            <div id="slos"></div>
          </div>
        </div>
        <div class="col-md-4">
        <h6 class="subTitle">2. <strong>Outcome Impact Case Reports</strong> (OICRs)</h6>
        <p class="indicator-description">Short reports describing the contribution of CGIAR research to development outcomes and impact.</p>
          <div class="chart-container oicr-contribution">
            <div id="oicrs"></div>
          </div>
        </div>
        <div class="col-md-4">
        <h6 class="subTitle">3. Progress Towards <strong>Milestones</strong></h6>
        <p class="indicator-description">Milestones are a specific point of progress, expected to be reached in the coming year.</p>
          <div class="chart-container milestones-contribution">
            <div id="milestones"></div>
          </div>
        </div>
     </div>
    
      <h6 class="subTitle">4. <strong>Common Reporting Indicators</strong> (CRIs)</h6>
    <p class="indicator-description">Quantitative indicators are used by all CGIAR programs to track progress towards impact. </p>
      <div class="form-group row justify-content-md-center">
            <div class="col-md-2">
            <center><img src="./images/total_innovations.svg" width="50px">
            <h6 class="total-title">Total Innovations</h6>
            <div class="numbers"></div>
            </center>
            </div>  
            <div class="col-md-2">
            <center><img src="./images/partnershipsicon.svg" width="50px">
            <h6 class="total-title">Total Partnerships</h6>
            <div class="numbers"></div>
            </center>
            </div> 
            <div class="col-md-2">
            <center><img src="./images/trainees.svg" width="50px">
            <h6 class="total-title">Total Trainees</h6>
            <div class="numbers"></div>
            </center>
            </div>      
            <div class="col-md-2">
            <center><img src="./images/papersicon.svg" width="50px">
            <h6 class="total-title">Total Publications</h6>
            <div class="numbers"></div>
            </center>
            </div> 
            <div class="col-md-2">
            <center><img src="./images/policiesicon.svg" width="50px">
            <h6 class="total-title">Total Policies</h6>
            <div class="numbers"></div>
            </center>
            </div> 
            <div class="col-md-2">
            <center><img src="./images/altmetricicon.svg" width="50px">
            <h6 class="total-title">Total Publications with <br/>Altmetric Attention Score</h6>
            <div class="numbers"></div>
            </center>
            </div> 
      </div>

  </div>
</div>