{% set pageParams = {
    'title': 'Innovations | CGIAR Program Results Dashboard',
    'customCSS': [
      'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css',
      'https://use.fontawesome.com/releases/v5.2.0/css/all.css',
      './css/customInputsFlat.css',
      './css/global.css',
      './css/innovations.css'
    ],
    'customJS': [
      'https://code.jquery.com/jquery-3.3.1.min.js',
      'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js',
      'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js',
      'https://www.amcharts.com/lib/3/amcharts.js',
      'https://www.amcharts.com/lib/3/pie.js',
      'https://www.amcharts.com/lib/3/themes/light.js',
      'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js',
      "./js/libs/tableau/tableau-2.2.2.min.js",
      "./js/libs/sly/sly.min.js",
      "./js/innovations.js"
    ]
  }
%}

{% include './pages/header.twig' with pageParams %}


{% include './pages/main-menu.twig' with pageParams %}
<div class="container">
  <div class="main-content">
      {% include './pages/message.twig' %}
      <div class="alert alert-dark selection">
      <div class="checkedfilters clearfilters">Clear all filters</div>
      <div class="checkedfilters checkedyears"></div>
      <div class="checkedfilters checkedcrps"></div>
      <div class="checkedfilters checkedcountry"></div>
      <div class="checkedfilters checkedstage"></div>
      <div class="checkedfilters checkedtype"></div>
      <div class="checkedfilters checkeddegree"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-5">
          <center><img src="{{ base_url() }}/images/total_innovations.svg" width="20%"><h6 class="subTitle">Total Innovations</h6>
          <div class="itotal-container">
            <div id="total-innov"></div>
          </div></center>
          <div class="row justify-content-md-center">
            <div class="col-md-4">
              <center><div class="degreei" id="adaptiveinnovations"><img src="{{ base_url() }}/images/adaptative.svg" width="45%"></div>
              <h6 class="subTitle">Adaptive Innovations</h6>
              </center>
            </div>
            <div class="col-md-4">
              <center><div class="degreei" id="novelinnovations"><img src="{{ base_url() }}/images/novel.svg" width="45%"></div>
              <h6 class="subTitle"> Novel<br> Innovations</h6>
            </div>
            <div class="col">
              <div class="iatotal-container">
                <div id="adaptative-innov"></div>
              </div>
            </div></center>
          </div>
        </div>
        <div class="col">
          <h6 class="subTitle">Innovations on the Ground</h6>
          <div class="imap-container">
            <div id="innovations-map"></div>
          </div>
        </div>
      </div>
      <br>
    
    <div class="form-group row">
      <div class="col">
        <h6 class="subTitle">Innovations by Stage</h6>
        <div class="istage-container">
          <div id="innovations-stage"></div>
        </div>
        </div>
        <div class="col">
          <h6 class="subTitle">Innovations by Type</h6>
          <div class="itype-container">
          <div id="innovations-type"></div>
          </div>
          <br>
        </div>
      </div>
      
      <div class="form-group bot-block">
        <h6 class="subTitle">List of Innovations</h6>
          <div class="ilist-container">
            <div id="innovations-list"></div>
          </div>
      </div>
    </div>
</div>

{% include './pages/footer.twig'  with pageParams %}
