{% set pageParams = {
    'title': 'Publications | CGIAR Program Results Dashboard',
    'customCSS': [
      'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css',
      'https://use.fontawesome.com/releases/v5.2.0/css/all.css',
      './css/customInputsFlat.css',
      './css/global.css',
      './css/publications.css'
    ],
    'customJS': [
      'https://code.jquery.com/jquery-3.3.1.min.js',
      'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js',
      'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js',
      'https://www.amcharts.com/lib/3/amcharts.js',
      'https://www.amcharts.com/lib/3/pie.js',
      'https://www.amcharts.com/lib/3/themes/light.js',
      'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js',
      "./js/libs/tableau/tableau-2.2.2.min.js",
      "./js/libs/sly/sly.min.js",
      "./js/papers.js?180319"
    ]
  }
%}

{% include './pages/header.twig' with pageParams %}


{% include './pages/main-menu.twig' with pageParams %}
<div class="container">
  <div class="main-content">
  {% include './pages/message.twig' %}
     <div class="alert alert-dark selection">
        <div class="checkedfilters clearfilters">Clear all filters</div>
        <div class="checkedfilters checkedyears"></div>
        <div class="checkedfilters checkedcrps"></div>
        <div class="checkedfilters checkedoa"></div>
        <div class="checkedfilters checkedisi"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-5 totalPContainer">
          <center><img src="./images/papersicon.svg" width="45px">
            <h6 class="subTitle totalPublications mt-2">Total Publications</h6>
          <div class="paperstotal-container mt-3">
            <div id="total-papers"></div>
          </div>
          </center>
        </div>
        <div class="col-md-7">
          <div class="publications-tooltip">?
            <span class="tooltiptext"><p><span class="p-tooltip">Institute for Scientific Information (ISI)</span> journals represent a traditional and high standard of academic quality. </p>
              <p>These publications make up the 14,000 journals listed in the Journal Citation Reports, which are used to calculate annual impact factors. </p>
              <p>While CGIAR researchers always strive to publish in highly regarded sources, many are opting to publish via new publishing models in order to achieve greater openness and accessibility.</p>
            </span>
          </div><h6 class="subTitle">Open Access and ISI Publications</h6>
          <div class="form-group row">
            <div class="col-md-3 mt-4">
              <center><img src="./images/oapicons.svg" width="30px">
               <h6 class="subTitle mt-2">Open Access <br />Publications</h6>
              </center>
            </div>
            <div class="col-md-4">
              <div class="oatotal-container">
                <div id="oa-papers"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="circletotal-container">
                <div id="total-oa"></div>
              </div>
            </div>            
          </div>

          <div class="form-group row">
            <div class="col-md-3 mt-4">
              <center><img src="./images/isipicons.svg" width="30px">
               <h6 class="subTitle mt-2">ISI  <br /> Publications</h6>
              </center>
            </div>
            <div class="col-md-4">
              <div class="oatotal-container">
                <div id="isi-papers"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="circletotal-container">
                <div id="total-isi"></div>
              </div>
            </div>
          </div>

         <!-- <div class="oaisi-container">
            <div id="oa-isi"></div>
          </div> -->
        </div>
      </div>
      <div class="form-group bot-block">
        <h6 class="subTitle">List of Publications</h6>
          <div class="plist-container">
            <div id="papers-list"></div>
          </div>
      </div>
  </div>
</div>

{% include './pages/footer.twig'  with pageParams %}
