{% set pageParams = {
    'title': 'Publications | CGIAR Program Results Dashboard',
    'customCSS': [
      'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css',
      'https://use.fontawesome.com/releases/v5.2.0/css/all.css',
      './css/customInputsFlat.css',
      './css/sideMenu.css',
      './css/global.css',
      './css/publications.css'
    ],
    'customJS': [
      'https://code.jquery.com/jquery-3.3.1.min.js',
      'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js',
      'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js',
      'https://www.amcharts.com/lib/3/amcharts.js',
      'https://www.amcharts.com/lib/3/pie.js',
      'https://www.amcharts.com/lib/3/themes/light.js',
      'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js',
      "./js/libs/tableau/tableau-2.2.2.min.js",
      "./js/libs/sly/sly.min.js",
      "./js/papers.js?220419"
    ]
  }
%}

{% include './pages/header.twig' with pageParams %}

<div class="container-fluid">
<div class="row">
  <div class="col-md-auto">
   {% include './pages/side-menu.twig' with pageParams %}
  </div>
  <div class="col-md-9">
  <div class="main-content">
  {% include './pages/message.twig' %}
     <div class="alert alert-dark selection">
        <div class="checkedfilters clearfilters">Clear all filters</div>
        <div class="checkedfilters checkedyears"></div>
        <div class="checkedfilters checkedcrps"></div>
        <div class="checkedfilters checkedoa"></div>
        <div class="checkedfilters checkedisi"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <center><img src="./images/papersicon.svg" width="45px">
            <h6 class="subTitle">Total Publications</h6> 
          <div class="total-container">
            <div id="total-papers"></div>
          </div>         
          </center>
          <h6 class="subTitle">Publications ISI OA</h6>
          <div class="oaisi-container">
            <div id="total-oaisi"></div>
          </div>
        </div>
        <div class="col-md-6">
        <h6 class="subTitle">Top 10 Journals</h6>
          <div class="topJournals-container">
            <div id="top-journals"></div>
          </div>
        </div>
      </div>
      <div class="form-group bot-block">
        <h6 class="subTitle">List of Publications</h6>
          <div class="plist-container">
            <div id="papers-list"></div>
          </div>
      </div>
  </div>
  </div>
</div>
</div>

{% include './pages/footer.twig'  with pageParams %}
